[2020-08-04 07:12] foriequal0 opened #5598 "`git_worktree_prune` fails even if `git_worktree_is_prunable`"
### Reproduction steps

[code]
[code]

### Expected behavior

`git_worktree_prune(wt, opts)` succeeds if `git_worktree_is_prunable(wt, opts)` succeeds.

### Actual behavior

[code]

More accurately, `git_worktree_prune` works only if the main worktree is valid.
It is known issue that `git_worktree_validate` only validates main worktree's validity (https://github.com/libgit2/libgit2/issues/5280).
S

[2020-08-04 14:38] ChristianWeissCG commented on #5225
Maybe real-world examples (complains) help to generate more motivation to solve this issue:

libssh2 was marked as deprecated in dec. 2018 or maybe even before that point in time.
It was dropped with RHEL8 in may 2019 and with CentOS 8 in sep 2019.
I can not recomment users to install salt-master with gitfs-feature (saltstack->pygit2->libgit2) on CentOS 8 / RHEL 8 at the moment. So users had to st

[2020-08-05 09:08] ethomson commented on #5590
Thanks @alexcrichton and @ehuss for the helpful reproduction steps.

In the consumption loop, we were handling `Z_BUF_ERROR` as a [non-fatal condition that required a retry](https://github.com/libgit2/libgit2/blob/master/src/zstream.c#L22), but this terminating case was indeed incorrect.

Instead of taking `Z_BUF_ERROR` and `total == size` as a successful exit condition, I opened a PR #5599 that d

[2020-08-05 11:03] KeksBeskvitovich commented on #3605
@h3 That's ok.. 2020, problem still here

[2020-08-05 13:37] ehuss commented on #5590
Ah, thanks @ethomson for the quick fix!  I confirmed it works for the reproduction above.

[2020-08-05 17:18] ethomson commented on #5590
Thanks @ehuss, I'm going to bang on it a little bit more before I'm 💯 convinced.

[2020-08-05 17:49] andrewhickman commented on #5591
Hmm the new branch doesn't seem to have made a difference either. I'm going to spend some time debugging...

The behaviour I'm seeing so far is very consistent, I get exactly two calls to `git_mwindow_close_lru_window`, both of which end up freeing the same window, at which point I get the heap corruption error

[2020-08-05 19:56] ethomson commented on #5591
Can you share the repo where this occurs and or some example code that illustrates it?

[2020-08-05 20:15] andrewhickman commented on #5591
This repo contains a fairly minimal reproduction of the issue. Its very consistent, at least on my machine
https://github.com/andrewhickman/mgit-crash-repro

I think I've tracked down the issue, I'm just about to create a PR.

[2020-08-05 20:30] ethomson commented on #5591
Even better!  Thanks @andrewhickman!

[2020-08-05 20:58] lhchavez commented on #5591
neat! thanks @andrewhickman, this Issue made us realize that there were _other_ use-after-free and data races.

but now i'm worried about the fact that two threads can get to `git_mwindow_close_lru_window`, since that is protected by a global mutex, so It Should Never Happen™. just out of curiosity, what happens if you explicitly run `git2::init();` at the very beginning of `main()`? It seems like

[2020-08-05 21:07] lhchavez commented on #5591
OH!!! I think the lack of calling `git2::init()` *is* the problem!

The reason why this fails to reproduce in WSL is because `PTHREAD_MUTEX_INITIALIZER` (which is a valid way to [initialize threads in POSIX](https://pubs.opengroup.org/onlinepubs/007908799/xsh/pthread_mutex_init.html)) in practice [just zeroes the mutex](https://code.woboq.org/qt5/include/pthread.h.html#_M/PTHREAD_MUTEX_INITIALIZER

[2020-08-05 21:12] andrewhickman commented on #5591
I'm not actually sure the threading was strictly related to the issue, I think opening a bunch of repositories at once just happened to push this the amount of mapped files above the limit, so that `git_mwindow_close_lru_window` was called a bunch of times.

Note git2 also runs `init` in `Repository::open`

[2020-08-05 23:15] lhchavez commented on #5591
argh, you're right. i missed that fact because some calls call `init()` instead of `crate::init()` (although sent out https://github.com/rust-lang/git2-rs/pull/604 to fix that inconsistency).

i'm out of hypotheses as to why this only reproduces under those conditions u__u

[2020-08-07 11:27] DyXel commented on #5490
There is no interest in resolving this.

[2020-08-07 11:27] #5490 closed

[2020-08-07 12:40] ethomson commented on #5490
There's not, unless there's something here to suggest that we're using the libraries incorrectly.  We run our CI tests through leak checkers, including valgrind (Linux).  Several system libraries, including OpenSSL, show leaks when used as documented and have data in the suppression file shipped with the library to aide in debugging.

If we're calling the libraries in their documented manner and t

[2020-08-07 14:13] danzimm commented on #4230
Hey, just wanted to bump this thread as I've ran into the same issues described above. Could I help in anyway to get the PRs mentioned above pushed forward?

Cheers

[2020-08-07 14:31] ethomson commented on #4230
Sure!  @tiennou was kind enough to create those PRs and @romkatv gave some really helpful feedback on them that needs to be incorporated.

First step would be rebasing those PRs as they exist on master and make sure that they build.  After that, addressing @romkatv's feedback would be :tada:.

It might be worth breaking them up into smaller-still chunks, that certainly helps with reviewability (an

[2020-08-11 09:10] codebyzeb commented on #3643
Have also experienced this

[2020-08-11 10:17] jalil1408 opened #5604 ""failed to write chunk header" after a number of pushes"
pushing works great but after a number of pushes it stops with "failed to write chunk header" error message (generated from https://github.com/libgit2/libgit2sharp/issues/1822)

https://github.com/libgit2/libgit2/blob/aa4cd778b97d7271aa0ad12a4f9d492c443d5935/src/transports/winhttp.c#L647

[2020-08-11 11:00] ethomson commented on #5604
I've not experienced this before.  I suspect that the remote hung up?  Does retrying help?

[2020-08-11 16:37] jalil1408 commented on #5604
trying to push two local repos (repo1 and repo2) to two gitlab private repos (local gitlab-ce server and gilab.com free) with this configuration:

-  on repo1 git tracks :
    - a zip file size=8MB

-  on repo2 git tracks:
    - a directory contains more than 7000 xml files
    - a zip file of about 12MB
    - a zip file of about 1MB

gives this results:

for repo1:
   - git.exe push : working bot

[2020-08-11 18:04] ethomson commented on #5604
Interesting.  Can you provide the repo that fails?  If not the literal repo then can you construct a fake repo that shows the same behavior?

[2020-08-12 04:03] jalil1408 commented on #5604
please check out the attached working directory. it generates the error.

[working.zip](https://github.com/libgit2/libgit2/files/5060523/working.zip)

[2020-08-12 12:40] MoMannn opened #5605 "receive-pack and upload-pack support"
Not sure from the code if `receive-pack` and `upload-pack` are supported. If they are not is there any plan to support it?

[2020-08-14 19:36] joshtriplett opened #5607 "Support for building with zlib-ng"
[zlib-ng](https://github.com/zlib-ng/zlib-ng/) provides substantially more performance than zlib, for both compression and decompression.

While zlib-ng has a "zlib compat" mode, where it exposes exactly the same symbols as zlib, that's not always possible to use, because that would potentially conflict with libraries that link with system zlib.

Would you be interested in a patch that adds option

[2020-08-14 21:36] ethomson commented on #5607
Sure.

[2020-08-17 07:10] kim opened #5608 "Make auth.h part of public API"
I have a custom transport which may need to ask for credentials. While it’s possible to supply them through a side-channel, it would be much nicer to be able to use the credentials API as normal, so any transport can be treated uniformly.

As far as I understand, `auth.h` would need to be part of the public API for this. Would you be open to this? I’d be willing to work on a patch myself, but woul

[2020-08-17 15:30] kim commented on #5608
Email-only subscribers: apologies for fat-fingering the submit button, title and description are now proper.

[2020-08-18 13:11] SirWindfield opened #5611 "Deprecation links inside of documentation not working"
https://libgit2.org/libgit2/#v1.0.1/group/blob/git_blob_filtered_content

The method that replaces it isn't listed. Although the header file does contain a `@see` annotation.

[2020-08-23 16:44] linquize commented on #2203
Already implemented long ago

[2020-08-23 16:44] #2203 closed

[2020-08-24 04:36] ryandesign opened #5613 "Undefined symbols _htonll on OS X 10.9 and earlier"
Hi, I'm a MacPorts developer. We recently updated our libgit2 to 1.0.1 and found that it builds fine on OS X 10.10 and later but [fails on 10.9 and earlier](https://trac.macports.org/ticket/61057) because of your use of `htonll` which was not added to OS X until 10.10.

You have some code in deps/ntlmclient/compat.h (see #5414) for defining compatibility versions of `htonll` on various systems but

[2020-08-24 09:20] #5591 closed

[2020-08-24 10:23] pks-t commented on #5613
Yeah, you're right about this. I've opened #5614 to fix this once and for all.

[2020-08-27 16:05] StefanKarpinski commented on #5220
Bump: this is still an ongoing problem for many Julia users who have proxies. So far this has been a problem for @omus, @kcajf, @tkluck, @wsshin, @antoine-levitt, @jdtuck, @jekriske-lilly, @gwatcha, @znmeb, @toktay, @jxy, @diabonas, @getzze, @tuhtah, @tastyminerals, @tbhaxor, @ghost, @hzhangxyz, @barche, @TLDay, @yalwan-iqvia, @CSchoel, @pmaldona, @samirop, @rideckard, @akabla, @casv2, @cycomanic,

[2020-08-27 16:12] jdtuck commented on #5220
For me the latest version I have no problems any more

[2020-08-27 16:13] jdtuck commented on #5220
As long as I make sure that the http and https proxy servers are correctly set. This can be done in the Julia REPL with the commands ENV[“HTTP_PROXY”] and ENV[“HTTPS_PROXY”].

[2020-08-27 16:15] jekriske-lilly commented on #5220
I still have an issue in 1.5.1 if there's no trailing forward slash in .gitconfig proxy entries (which shouldn't be necessary).

[2020-08-27 16:18] jekriske-lilly commented on #5220
I still have an issue in Julia 1.5.1 if there's no trailing slash in .gitconfig (which shouldn't be neccessary)

[2020-08-27 18:48] barche commented on #5220
I can confirm @jekriske-lilly 's observation, trailing slash was needed in .gitconfig.

[2020-08-27 19:21] kcajf commented on #5220
I still have this problem -  I have to add a trailing slash to my environment variables to work around it

[2020-08-31 23:22] squarti opened #5622 "need update to libpcre 8.43"
libgit2 consumes libpcre 8.42, which has the following security advisories:

https://vuln.whitesourcesoftware.com/vulnerability/CVE-2019-20838

Our vulnerability scanner, which is flagging us as being insecure because of these, suggests moving up to at least v8.43 of this dependency to mitigate these issues.

See https://github.com/libgit2/libgit2/blob/master/deps/pcre/pcre.h#L45

[2020-09-01 10:42] #5608 closed

[2020-09-01 10:50] ethomson commented on #5608
Sorry for not replying sooner - I haven't done work with credentials in a few months, so I didn't entirely understand fully when you opened the issue, and I made a note to go back and investigate and talk through this.  Apologies for not having done that sooner, but I'm glad that everything is sorted out now.

[2020-09-08 11:07] csware commented on #5492
@pks-t @ethomson Any news on this?

[2020-09-08 11:08] csware commented on #5622
Wouldn't this also be the option to upgrade to pcre2 10.x?

[2020-09-08 11:31] csware commented on #5506
Here a link which additional checks TortoiseGit performs: https://github.com/TortoiseGit/TortoiseGit/blob/5170b17c9c12f0e956a1cf123a56ed11f7437312/src/Git/Git.cpp#L246

[2020-09-09 11:03] csware commented on #5573
This issue can be closed.

[2020-09-09 15:16] ethomson commented on #5573
Thanks for the report @jriddell and for the fix @csware

[2020-09-09 15:16] #5573 closed

[2020-09-09 15:52] csware commented on #5459
This is still an issue with 1e987525b3bd86fc29e7ff67d973861efd22faf7 it's even worse: teh config file with a new line only consisting of "$HOME" cannot be parsed at all.

I compiled two new test cases for this issue: https://github.com/csware/libgit2/tree/config-multiline-parse

[2020-09-09 17:03] interkosmos opened #5627 "Compilation fails on FreeBSD"
### Reproduction steps
On FreeBSD, run:
[code]

### Expected behavior
Compiles on FreeBSD.

### Actual behavior
Compilation fails with error stating that `copyfile.h` is missing.

### Version of libgit2 (release number or SHA1)
1e987525b3bd86fc29e7ff67d973861efd22faf7

### Operating system(s) tested
FreeBSD 12.1 (amd64)

[2020-09-10 03:19] xiaofuhub opened #5630 "Detect whether there is an uncommitted files judgment error in the repository when use git_merge"
You are opening a _bug report_ against the libgit2 project: we use
GitHub Issues for tracking bug reports and feature requests.  If you
have a question about an API or usage, please ask on StackOverflow:
http://stackoverflow.com/questions/tagged/libgit2.  If you want to
have high-level discussions about the libgit2 project itself, visit
https://github.com/libgit2/discussions.

Otherwise, to report

[2020-09-10 03:22] xiaofuhub commented on #5630
I 'm trying to pull from a repo with libgit2.

My steps are these:

I use git_remote_fetch to down remote origin data and the return OK.

after I use git_merge API.

The question is when I just deleted a file 'aa.txt' in local branch 'master', But not commit it. At the same times I Merge remote branch('origin/master') head. the remote head just modify 'bb.txt'. But when I use git_merge it return e

[2020-09-10 07:57] #5630 closed

[2020-09-10 07:59] xiaofuhub commented on #5630
I was affected by the staged status during Pull, so I closed the bug

[2020-09-10 16:55] 0xdky commented on #4615
This bug appears to be due to:
https://github.com/libgit2/libgit2/blob/v0.28.2/src/pack.c#L867

`
(gdb) n
870		stream.avail_out = (uInt)buf_size;
(gdb) ptype stream.avail_out
type = unsigned int
(gdb) ptype buf_size
type = unsigned long
(gdb) p sizeof(stream.avail_out)
$4 = 4
(gdb) p sizeof(buf_size)
$5 = 8
(gdb) p buf_size
$6 = 4294967296
(gdb) p (uInt)buf_size
$7 = 0
`

Newer libgit2 uses zlib s

[2020-09-13 20:08] joshtriplett opened #5634 "git_blob_create_from_buffer readback of partial buffer?"
For some use cases, when streaming into a blob, I'd like to be able to read back the streamed data before I'm done writing. Would it be possible to have functions `git_blob_crate_from_buffer_partial_len` and `git_blob_crate_from_buffer_partial_read`? This would avoid the need to stream into a separate temporary file.

[2020-09-15 08:28] ethomson commented on #5634
Sorry I'm not fully seeing what these two functions do yet.  Could you show some quick pseudocode?

Does partial_len show what's been written so farm partial_read lets you read back up to that len?

[2020-09-15 09:17] joshtriplett commented on #5634
@ethomson Yes, exactly.

You could call `git_blob_create_from_stream` to start writing out a blob incrementally, and then at some point during the writing of that blob, you could call `git_blob_create_from_stream_partial_len` to get the number of bytes written so far, then call `git_blob_create_from_stream_partial_read` to read them out. (Or possibly that should be `git_blob_create_from_stream_par

[2020-09-18 02:53] twa16 commented on #4230
@danzimm Did you end up digging into this? This is going to be an issue for me in a few weeks so I should be able to dig into this then if you are not able to.

[2020-09-18 08:55] pks-t commented on #5627
This has been fixed via #5628, right? I'm thus closing the issue, thanks a lot for your report and fix!

[2020-09-18 08:55] #5627 closed

[2020-09-19 15:53] interkosmos commented on #5627
Yes.

[2020-09-25 10:44] J0Nes90 opened #5639 "Finish a streaming filter early but still write the blob to the ODB"
HI,

i would like to be able to finish a streaming filter early without stopping the filtering. Currently I can return GIT_PASSTHROUGH in the git_writestream write callback, but of course this will make sure that the blob is not written to the ODB
https://github.com/libgit2/libgit2/blob/8087498dc519f40ac099d31d9f29eb1544f62329/src/blob.c#L146

So I have to go through the whole stream. Following sc

[2020-09-25 13:47] 0xdky commented on #5639
libgit2 supports custom ODB backends and they are all chained. Do you want to completely prevent the fill object from ever getting written OR do you want to write a few bytes and let the other/default ODB do its work by writing the full object?

If you want to intercept and write a few bytes, you will have to implement a custom ODB backend and perform the custom write logic.

If you completely wan

[2020-09-25 15:29] J0Nes90 commented on #5639
Hey, thanks for your input. Not sure I follow correctly but I think you’ve got me wrong.
I do not want to prevent any writes to the ODB - not at all. I have a git_filter were I register a git_filter_stream_fn. So the pure purpose of such filter is to apply a clean when writing an object from the working directory to the ODB, so I want to modify the data that gets written.
My problem with filtering

[2020-09-26 00:56] tbenst opened #5640 "Support ~/.ssh/id_rsa or ~/.ssh/config"
Unless a user is running `ssh-agent`, libgit2 does not find ssh keys, when git does.

There are popular issues with both [Rust's Cargo](https://github.com/rust-lang/cargo/issues/2078), and [Julia's Pkg.jl](https://github.com/JuliaLang/Pkg.jl/issues/911#issuecomment-699243851).

Currently, Cargo solves this issue by [using system git as a replacement for libgit2](https://github.com/rust-lang/cargo/

[2020-09-26 01:42] P3GLEG commented on #5585
If anyone else has this issue PR below fixed it for me.
https://github.com/libgit2/libgit2/pull/5600

[2020-09-26 01:42] #5585 closed

[2020-09-27 13:01] Whirlwind opened #5642 "[Bug] Merge Failed if there is a `.lock` file exists"
### Reproduction steps
I use the `git_merge` to merge other branch into current branch. But I always get a error: `failed to lock file 'Podfile.lock' for writing:`.
I try to use the `git merge` command to merge the branch, the git will merge success with conflict: The `Podfile` have conflict.
I check the `git_filebuf_open_withsize` function in `libgit2`, I get:
[code]
The `file->path_lock` will ap

[2020-09-27 23:46] ethomson commented on #5640
If you're willing to open a PR with libssh support, of course, then I'd be perfectly happy to include it. Otherwise, I'd prefer to stop using libssh2 or libssh and just call ssh directly as in #5507.

[2020-09-28 00:35] tbenst commented on #5640
Thanks for the response! I'm not much of a C programmer but wanted to highlight the open PR for adding libssh as a backend: https://github.com/libgit2/libgit2/pull/5253

[2020-09-28 19:23] 0xdky commented on #5642
That is the problem. You have a branch named `Podfile` and a ref update has failed with incomplete cleanup. You could rename the file (safer than deleting it) to `Podfile.lock.rm` and give it a try. If it works, you can delete `Podfile.lock.rm` and move on.

The way ref lock files work is by opening a file with ref name appended by `.lock` in `O_CREAT|O_EXCL` mode. If the file exists, it is an ind

[2020-09-29 07:09] Whirlwind commented on #5642
I known the `Podfile` + `.lock` is a file lock, but in my project there are `Podfile` and `Podfile.lock` at same time.

I don't known why to write a file lock in same directory, not in the `.git` directory. Or use other extension instead of `.lock`.
The `.lock` is too simple!!

[2020-09-29 08:21] xiaofuhub opened #5643 "No conflicting file names or notify callback info are output when use git_merge failed"
You are opening a _bug report_ against the libgit2 project: we use
GitHub Issues for tracking bug reports and feature requests.  If you
have a question about an API or usage, please ask on StackOverflow:
http://stackoverflow.com/questions/tagged/libgit2.  If you want to
have high-level discussions about the libgit2 project itself, visit
https://github.com/libgit2/discussions.

Otherwise, to report

[2020-09-29 09:33] ethomson commented on #5642
Yep, this seems like a bug indeed.  I'm surprised that we hadn't seen it before.  Thanks for reporting it.

[2020-09-30 07:06] senadjukic commented on #5556
Dear all, I am facing this issue too. In my case, I am mounting an EFS volume to a Docker container and using libgit2 v0.27.

[code]

I get the same error as described above:

`Return code from GIT is (2). failed to truncate pack file "/home/userid/test/.git/objects/pack/pack_git2_TVmllk': Permission denied`

Is there any chance to fix this issue in the short term?
Do you have any ideas on a worka

[2020-09-30 09:24] Georgegriff commented on #5556
Unfortunately our work around. was to stop using libgit2 entirely and rolled with another solution :( was very painful.  Hopefully someone else will have some answers

[2020-09-30 13:52] 0xdky commented on #5556
The pack file appears to get created with 0444 mode by default: https://github.com/libgit2/libgit2/blob/master/src/pack.h#L23

How about building libgit2 with the following patch and try:

[code]

[2020-10-01 10:40] jeroen opened #5646 "Fetching the remote HEAD (aka default branch)"
Using `git clone` automatically sets `refs/remotes/origin/HEAD` to be the remote default branch, however libgit2 [does not populate this](https://libgit2.slack.com/archives/C1BS8MML7/p1594212366020600). Therefore we don't know what is the remote default branch, and it does not get updated when it changes.

It would be great to have a way to fetch the `origin/HEAD` symref, the same as `git remote s

[2020-10-01 11:06] ethomson commented on #5646
Yes, that's disappointing and a bug.  Sorry about that.

(Fortunately, it should be a simple fix.  Is this a place where you might want to contribute a pull request?)

This isn't actually, something that's done at fetch time, it's something that's done at clone time.  If you change your remote's default branch, `git fetch` itself will never update the remote symref.  You can see this yourself by c

[2020-10-01 14:19] jeroen commented on #5646
The most important thing is indeed to fix the bug in `git_clone()`. However many users have repositories on disk that were cloned with previous versions of libgit2 and are missing `refs/remotes/origin/HEAD`, so it would be nice if I can update the local symref for existing repos that are missing this.

And yes, sometimes remotes change the default branch, in case we want to update the local `origi

[2020-10-02 12:46] jeroen commented on #5646
Thanks! Your example is helpful, but not completely correct I think, because we need to to translate the ref into a remote ref.

For example, `git_remote_default_branch` may return `refs/heads/main` which should be `refs/remotes/origin/main` when populating `refs/remotes/origin/HEAD`.

Is there an elegant way in libgit2 to convert a branch name from a local into a remote namespace, or should we ju

[2020-10-03 10:33] jeroen commented on #5646
This is what I'm doing now in my bindings (manually converting the ref): https://github.com/r-lib/gert/blob/0439cf53836f3305a67b5e48ab60a330cd9285e4/src/clone.c#L426-L453

[2020-10-04 16:54] ethomson commented on #5459
Fixed via #5629 - thanks @csware!

[2020-10-04 16:54] #5459 closed

[2020-10-04 17:01] ethomson commented on #5555
Fixed via #5626 - thanks @csware!

[2020-10-04 17:01] #5555 closed

[2020-10-04 17:48] #5565 closed

[2020-10-04 18:44] ethomson commented on #5643
Can you provide a repository to go along with this to help reproduce?

[2020-10-04 18:48] ethomson commented on #5646
@jeroen I think that you want `git_branch_upstream`.  A simple translation will work when the refspec is predicable, like the default, but a refspec could be almost anything.  For example, a refspec to pull down pull requests from GitHub would fail:

[code]

[2020-10-04 20:31] civodul opened #5650 "Proxy settings ignored while cloning with libgit2 1.0.1"
### Reproduction steps

Compile this code with libgit2 1.0.1:

[code]

Run it under `strace` and notice that it connects to `example.org` directly instead of connecting to the specified proxy:

[code]

### Expected behavior

Should connect to `localhost:8118` and send a `GET` request there.

### Actual behavior

Connects directly to `example.org`.

### Version of libgit2 (release number or SHA1)

[2020-10-04 20:41] #5493 closed

[2020-10-04 21:18] ethomson commented on #5650
I'd like a few more details - we have several tests that exercise proxies.

Did this work before and stopped working in 1.0.1?

Have you found any workarounds?

Does it work for fetch but not clone, etc?

Do the proxy environment variables work?

[2020-10-05 07:41] civodul commented on #5650
Hi,

It looks like a regression compared to 0.28.5.

Here's a slightly edited version that can be used both with 0.28 and 1.0.1:

[code]

With 0.28.5, the `strace` output shows that the program connects to the proxy:

[code]

This is in contrast with 1.0.1:

[code]

I haven't tried with fetch and haven't found any workarounds.

Environment variables `http_proxy` and `https_proxy` are not honored,

[2020-10-05 09:11] ethomson commented on #5650
I'm just seeing now that you're using `http` with your git server.  I believe that this is the problem.  If you use `https`, you should be able to use your proxy?

I think that this is the culprit: https://github.com/libgit2/libgit2/blob/master/src/transports/httpclient.c#L1007

There's probably a broader question about whether we should really support non-ssl http connections through proxies with

[2020-10-05 10:14] civodul commented on #5650
@ethomson Oh you're right, changing the URL to `https` does the trick:

[code]

FWIW I found about this regression _via_ a unit test of Guile-Git: https://gitlab.com/guile-git/guile-git/-/blob/master/tests/proxy.scm.  From that respect, I would think it's still a regression.

WDYT?

Thank you!

[2020-10-05 10:21] ethomson commented on #5650
I agree, does the code change that I suggested resolve it for you or are you not able to recompile libgit2 from source?

[2020-10-05 20:03] civodul commented on #5650
The change you suggest allows libgit2 to connect to the proxy for an `http` URL.  However, it sill makes a `CONNECT` request when it should be a `GET`:

[code]

[2020-10-06 22:59] dan-tull opened #5653 "Fix unbalanced custom allocator malloc/free in path.c"
The free here is of a pointer that was malloc'd with git__malloc:
https://github.com/libgit2/libgit2/blob/master/src/path.c#L2048

### Reproduction steps
(code inspection)

Use a custom allocator.
Exercise the git_path_validate_system_file_ownership codepath at the above line with a non-NULL info pointer.

### Expected behavior
All malloc/free are paired.

### Actual behavior
With a custom allocat

[2020-10-06 23:35] #5653 closed

[2020-10-06 23:36] ethomson commented on #5653
Subtle one!  Good eye, thanks.

[2020-10-07 01:12] GsxCasper opened #5655 "diff_file_content_load_workdir_file does not respect gitattributes exclusions"
### Reproduction steps
1) create a new git repo
2) create a folder `data`
3) create a text file `foo.metal` inside the `data` folder with whatever content (it's not relevant)
4) add the file to git and commit. The git status should be clean now and you should have the commit in the log
5) initialize git lfs in the repo by running `git lfs install`
6) create a .gitattribute file in the root folder

[2020-10-07 09:47] ethomson commented on #5655
Indeed - we should be evaluating all the attributes to find the _last_ one that matches, not short-circuiting when we find the first.  From the `gitattributes` documentation:

[2020-10-09 01:23] xiaofuhub commented on #5643
Version is v0.26.0

[2020-10-09 16:20] utkarsh2102 commented on #5521
Hi @pks-t @ethomson,

Thanks for your work, I just uploaded 1.0.1 to the Debian archive.
However, the build is still not reproducible. Here is the log file: [reprotest.log](https://github.com/libgit2/libgit2/files/5356180/reprotest.log)

Please let me know if you can make out anything from it or if there's anything I can help to make the build reproducible.

[2020-10-09 17:39] ethomson commented on #5521
🤔  I see a lot of file paths in there.  If you set `-ffile-prefix-map` when [enabling reproducible builds](https://github.com/libgit2/libgit2/blob/master/CMakeLists.txt#L192) does this fare better?

eg,
[code]

[2020-10-10 08:25] utkarsh2102 commented on #5521
On a side note, can we have reproducible builds enabled by default?
I mean, it's definitely a good thing to have anyway! What do you think? :)

[2020-10-10 08:57] ethomson commented on #5521
Well, we don't have reproducible builds yet.  I think it probably makes sense to enable this by default.  But I'd like to see what's involved in making a truly reproducible build before we make that decision.  If we turn reproducible builds on by default, and actually _making them reproducible_ has some onerous settings that aren't good defaults, then we'll regret it.

[2020-10-10 15:42] utkarsh2102 commented on #5521
Ah, okay, makes sense. Let me _try_ to enable repro builds in Debian and in case I get that working, I'll send a patch maybe :)

With this, the new log file is here: [reprotest.log](https://github.com/libgit2/libgit2/files/5359281/reprotest.log)
Not sure how better has it gotten, if at all :)

[2020-10-11 10:32] #5646 closed

[2020-10-11 10:33] ethomson commented on #5622
Fixed via #5637

@csware why do you want pcre2?

[2020-10-11 10:33] #5622 closed

[2020-10-11 10:37] csware commented on #5622
pcre is kinda deprecated.

[2020-10-11 10:46] jeroen commented on #5646
Thanks! Going to test this right away.

[2020-10-11 10:55] jeroen commented on #5646
OK it works, thanks so much! I did get confused earlier because the master branch shows version `1.0.0` in `git2/version.h` so I thought I was using an older version.

Will this fix be ported to the `maint/v1.0` branch, or will the master branch become the next release?

Sorry for be impatient, but because GitHub has changed their default master branch to "main", we have a lot of users running int

[2020-10-11 20:39] syslogic commented on #5562
And how does that improve software quality?

[2020-10-11 21:07] ethomson commented on #5562
It's not political correctness.  It's politeness.

Software doesn't live in a vacuum; its quality only has value to its users.  A technically perfect piece of software is useless if nobody's using it.  So we should respect our users.

The libgit2 project follows the behavior of git.  You're welcome to suggest that git's changes of behavior are delusional, but you can take that to the git mailing l

[2020-10-11 22:11] ethomson commented on #5646
I'll stage v1.1 that includes this - see #5660 5660

[2020-10-11 23:29] extrawurst commented on #5587
@ethomson Is this going to land in 1.1?

[2020-10-12 11:03] ethomson commented on #5587
@extrawurst It will.  I added a mention in the changelog specifically.

[2020-10-13 11:48] jeroen opened #5662 "Build error on mingw-w64"
Trying to upgrade libgit2 from 1.0.0 to 1.1.0 on mingw-w64 (windows) fails with:

[code]

It seems to trip on this output:

[code]

I think because `crypt32` is a windows system library.

Full log here: https://github.com/r-windows/rtools-packages/pull/159 . Has anything changed in the cmake files?

[2020-10-13 13:53] jeroen opened #5663 "Building without threads gives linking error for: git___load"
I run into a bug introduced by https://github.com/libgit2/libgit2/pull/5594 when building `-DTHREADSAFE=OFF`.

[code]

Eventually the build succeeds, however the `libgit2.a` library gives linking errors looking for `git___load`. I think the problem is that `git___load` is defined within a `#ifdef GIT_THREADS` block, but not the macro that uses it.

This is libgit2 1.1.0 on mingw-w64 with gcc 8.3.0

[2020-10-13 20:18] bmajik opened #5665 "Multiple unchecked return values in libgit2"
All,

We (at Microsoft) have a GitHub Application called "Monocle-AI" which uses some light AI to do C/C++ code analysis, looking for different types of defects.  We've run the tool against the libgit2 codebase and the tool has auto-generated some github issues and 2 PRs based on what it discovered.

Before having the tool create issues and PRs into the libgit2 repository, I wanted to get permissi

[2020-10-13 23:47] ehuss commented on #5590
I think this issue can be closed now that #5599 has been merged.

[2020-10-14 00:00] ethomson commented on #5665
I'd be happy to review these, but there are definitely a number of false positives that this will find.  For example, our `git_buf` API will preserve the failure.  This lets us:

[code]

Which means that static code analysis will flag the `git_buf_puts` as ignoring the return value, but in fact, is a permitted use of our API.

Which is all to say - yes, I'm very interested in improved code analysi

[2020-10-14 11:35] #5663 closed

[2020-10-14 13:36] jeroen opened #5666 "gcc: warning: unrecognized command line option '-Wno-documentation-deprecated-sync'"
I'm compiling with gcc-8.3.0 and seeing a compiler warning:

[code]

This is due to https://github.com/libgit2/libgit2/pull/5481 by @pks-t which now sets `disable_warnings(documentation-deprecated-sync)`  unconditionally in cmake, however this flag doesn't seem to exist in gcc?

Not super important, but I don't think this is intended?

[2020-10-14 13:38] jeroen commented on #5662
This is due to a combination of mingw-w64 and static linking; it's probably easier to work around this on my end.

[2020-10-14 13:38] #5662 closed

[2020-10-14 13:45] jeroen opened #5667 "Master branch fails with -DTHREADSAFE=OFF"
As of a the latest commits, I see:

[code]

This is libgit2 master branch, with gcc 8.3.0 on Windows.

[2020-10-14 14:06] ethomson commented on #5667
Ooops, #5668

[2020-10-14 14:12] ethomson commented on #5662
Yoinks!  I'm happy to take a pull request if you have a solution here, but this is very, very far outside my wheelhouse.  😁

[2020-10-14 14:13] ethomson commented on #5666
No, we shouldn't warn on this.  I thought `enable_warnings` / `disable_warnings` checked for the viability of the flag.  This is, indeed, annoying.

[2020-10-14 15:49] #5667 closed

[2020-10-14 19:57] AmarOk1412 opened #5669 "Build error with git2/sys/transport.h"
### Reproduction steps

[code]

Build a program using git smart transport

### Expected behavior

This should build. Also lot of docs are missing for transport

### Actual behavior

Some errors with undefined structs like git_transport_message_cb are thrown (it builds with v0.28)
I need to include <git2/remote.h> in order to fix the build

### Version of libgit2 (release number or SHA1)
v1.1.0

##

[2020-10-14 20:12] bmajik commented on #5665
Thanks @ethomson !

Firstly, if I understand what you're saying correctly, git_buf_oom is a codebase-specific, or even scenario-specific error checking function that looks at the variable's state, instead looking at the return value.

We deal with scenarios like this for some "well known" error handling patterns, e.g. some types of HRESULT checks on Windows codebases.  If our system understood tha

[2020-10-14 20:31] AmarOk1412 commented on #5203
Still seems to get some problem when including libgit2 and need to add PCRE_LIBS to my cmake

[2020-10-14 21:19] jeroen opened #5670 "soname versioning"
If the ABI is stable perhaps there is no need to keep bumping the soname? I couldn't find anything about the soname policy in the readme file. A good example is [libcurl soname policy](https://github.com/curl/curl/blob/master/docs/libcurl/ABI.md#soname-bumps) (which hasn't changed their soname since 2006).

It would be really nice if the soname was stable, so that distributions don't have to rebui

[2020-10-18 20:23] atom2ueki opened #5671 "`git_diff_file_cb` progress always 0"
since file_cb define in this way
https://github.com/libgit2/libgit2/blob/fb439c975a2de33f5b0c317f3fdea49dc94b27dc/include/git2/diff.h#L458-L470

may I know any reason why  the `git_diff_file_cb` progress always 0 here?
https://github.com/libgit2/libgit2/blob/fb439c975a2de33f5b0c317f3fdea49dc94b27dc/src/patch.c#L25

[2020-10-18 22:25] sluongng commented on #5399
what is the status for this issue?

I see active commits but I'm not quite sure regarding the progress.

@lhchavez do you need any help? should we split the issue/PRs into even smaller parts?

[2020-10-18 22:40] lhchavez commented on #5399
i've been using this feature in production (from my branch) for months now.

i think it's as split into smaller parts as feasible / convenient (both for me and the reviewers)

[2020-10-19 02:56] greened commented on #4674
I'm assuming this has to do with the fact that native git uses multiple threads to resolve deltas while I can't find any info on whether libgit2 does the same, which leads me to believe it doesn't.

[2020-10-19 09:06] neithernut commented on #4674
Judging from the reported CPU-usage (>100% for git, <100% for cgit2), this is likely one contributing factor.

However, the "user" time (which I assume is the sum of the times spend in user-space over all threads) is also higher for cgit2, implying some potential for speed-ups. If the measurement covers all the processing done by git (e.g. does not omit some child process), that is.

[2020-10-19 09:39] ethomson commented on #5671
No idea.  I don't know what this is supposed to mean:

[2020-10-19 19:23] briancullinan commented on #2263
Is it possible to use
`git pull --depth=1 origin master`
with
`git clone --filter=blob:none --sparse git@gitlab.com:gitlab-com/www-gitlab-com.git`
As a workaround for sparse checkout?

https://docs.gitlab.com/ee/topics/git/partial_clone.html
https://stackoverflow.com/questions/600079/git-how-do-i-clone-a-subdirectory-only-of-a-git-repository/28039894#28039894

[2020-10-19 20:21] ethomson commented on #5665
I think so, yes.  Some sort of decorator on the function, not on the callsites.  😁

[2020-10-20 06:48] atom2ueki commented on #5671
@ethomson I believe this progress means the diff loop progress when git_diff_file_cb trigger at this time,
for example, you got 10 files difference, this git_diff_file_cb will trigger 10 times, currently is 6, then should be 0.6
but I don't think it's working properly here
cc: @arrbee

[2020-10-20 09:21] ethomson commented on #5671
That's a reasonable interpretation.  A pull request to add this support would be delightful, is that something that you would be interested in @atom2ueki?

[2020-10-20 22:13] monocle-ai opened #5672 "Potential issue in src/describe.c: Return Value Not Checked from Function Call"
<span> In this codebase, you often check the return value of the implicated function when calling it, but in this instance, it appears that you didn’t.   Using a consistent return value checking and/or error handling approach can improve code robustness and readability.</span>
---

**1 instance** of this defect were found in the following locations:

---
**Instance 1**
File : `src/describe.c`
Encl

[2020-10-20 22:13] monocle-ai opened #5673 "Potential issue in src/diff_file.c: Return Value Not Checked from Function Call"
<span> In this codebase, you often check the return value of the implicated function when calling it, but in this instance, it appears that you didn’t.   Using a consistent return value checking and/or error handling approach can improve code robustness and readability.</span>
---

**1 instance** of this defect were found in the following locations:

---
**Instance 1**
File : `src/diff_file.c`
Enc

[2020-10-20 22:13] monocle-ai opened #5674 "Potential issue in src/diff_print.c: Return Value Not Checked from Function Call"
<span> In this codebase, you often check the return value of the implicated function when calling it, but in this instance, it appears that you didn’t.   Using a consistent return value checking and/or error handling approach can improve code robustness and readability.</span>
---

**4 instances** of this defect were found in the following locations:

---
**Instance 1**
File : `src/diff_print.c`
E

[2020-10-20 22:13] monocle-ai opened #5675 "Potential issue in src/ident.c: Return Value Not Checked from Function Call"
<span> In this codebase, you often check the return value of the implicated function when calling it, but in this instance, it appears that you didn’t.   Using a consistent return value checking and/or error handling approach can improve code robustness and readability.</span>
---

**1 instance** of this defect were found in the following locations:

---
**Instance 1**
File : `src/ident.c`
Enclosi

[2020-10-20 22:13] monocle-ai opened #5676 "Potential issue in src/index.c: Return Value Not Checked from Function Call"
<span> In this codebase, you often check the return value of the implicated function when calling it, but in this instance, it appears that you didn’t.   Using a consistent return value checking and/or error handling approach can improve code robustness and readability.</span>
---

**6 instances** of this defect were found in the following locations:

---
**Instance 1**
File : `src/index.c`
Enclos

[2020-10-20 22:13] monocle-ai opened #5677 "Potential issue in src/indexer.c: Return Value Not Checked from Function Call"
<span> In this codebase, you often check the return value of the implicated function when calling it, but in this instance, it appears that you didn’t.   Using a consistent return value checking and/or error handling approach can improve code robustness and readability.</span>
---

**1 instance** of this defect were found in the following locations:

---
**Instance 1**
File : `src/indexer.c`
Enclo

[2020-10-20 22:13] monocle-ai opened #5678 "Potential issue in src/mailmap.c: Return Value Not Checked from Function Call"
<span> In this codebase, you often check the return value of the implicated function when calling it, but in this instance, it appears that you didn’t.   Using a consistent return value checking and/or error handling approach can improve code robustness and readability.</span>
---

**1 instance** of this defect were found in the following locations:

---
**Instance 1**
File : `src/mailmap.c`
Enclo

[2020-10-20 22:13] monocle-ai opened #5679 "Potential issue in src/notes.c: Return Value Not Checked from Function Call"
<span> In this codebase, you often check the return value of the implicated function when calling it, but in this instance, it appears that you didn’t.   Using a consistent return value checking and/or error handling approach can improve code robustness and readability.</span>
---

**3 instances** of this defect were found in the following locations:

---
**Instance 1**
File : `src/notes.c`
Enclos

[2020-10-20 22:13] monocle-ai opened #5680 "Potential issue in src/odb.c: Return Value Not Checked from Function Call"
<span> In this codebase, you often check the return value of the implicated function when calling it, but in this instance, it appears that you didn’t.   Using a consistent return value checking and/or error handling approach can improve code robustness and readability.</span>
---

**3 instances** of this defect were found in the following locations:

---
**Instance 1**
File : `src/odb.c`
Enclosin

[2020-10-20 22:13] monocle-ai opened #5681 "Potential issue in src/patch_parse.c: Return Value Not Checked from Function Call"
<span> In this codebase, you often check the return value of the implicated function when calling it, but in this instance, it appears that you didn’t.   Using a consistent return value checking and/or error handling approach can improve code robustness and readability.</span>
---

**2 instances** of this defect were found in the following locations:

---
**Instance 1**
File : `src/patch_parse.c`

[2020-10-20 22:13] monocle-ai opened #5682 "Potential issue in src/refdb_fs.c: Return Value Not Checked from Function Call"
<span> In this codebase, you often check the return value of the implicated function when calling it, but in this instance, it appears that you didn’t.   Using a consistent return value checking and/or error handling approach can improve code robustness and readability.</span>
---

**2 instances** of this defect were found in the following locations:

---
**Instance 1**
File : `src/refdb_fs.c`
Enc

[2020-10-20 22:13] monocle-ai opened #5683 "Potential issue in src/remote.c: Return Value Not Checked from Function Call"
<span> In this codebase, you often check the return value of the implicated function when calling it, but in this instance, it appears that you didn’t.   Using a consistent return value checking and/or error handling approach can improve code robustness and readability.</span>
---

**1 instance** of this defect were found in the following locations:

---
**Instance 1**
File : `src/remote.c`
Enclos

[2020-10-20 22:14] monocle-ai opened #5684 "Potential issue in src/revwalk.c: Return Value Not Checked from Function Call"
<span> In this codebase, you often check the return value of the implicated function when calling it, but in this instance, it appears that you didn’t.   Using a consistent return value checking and/or error handling approach can improve code robustness and readability.</span>
---

**1 instance** of this defect were found in the following locations:

---
**Instance 1**
File : `src/revwalk.c`
Enclo

[2020-10-20 23:00] ethomson commented on #5665
I didn’t expect that you’d unleash this app upon us.  Do you want feedback on these issues that it’s opened - beyond “hey why are you spamming my repo!?!” - or what’s the expectation you have here?

[2020-10-21 16:59] bmajik commented on #5665
Sorry that’s not what you were expecting.  We didn’t turn on the tool on a cadence or anything like that – this is a one-off occurrence.  I believe that most of these issues are ones that you would want to take a look at.  Our system doesn’t yet know how to handle the specific situation you mentioned of an API with multiple success checking semantics, but I don’t believe that pattern is the majori

[2020-10-21 17:33] ethomson commented on #5665
Makes sense.  👍

[2020-10-23 21:24] rashkov commented on #4844
Is there a workaround for this?

[2020-10-23 22:16] palmin commented on #4844
@rashkov It isn't pretty but I have patched away this content-type check as I prefer the behaviour to match command line git.
https://github.com/palmin/libgit2/commit/da50e9aa050fa20d5038967868cbbfa1d50c9119

[2020-10-26 17:21] ethomson commented on #4844
We should fix this.  If git doesn't enforce this, neither should we.

[2020-10-26 17:22] ethomson commented on #4844
@palmin do you happen to know if they do _any_ checking on the content-type?  (ie, does it work because `application/x-git-upload-pack-advertisement` is in a list of allowed content-types?  Or is it completely ignored?)

[2020-10-26 18:20] palmin commented on #4844
@ethomson I have had a look around http.c and related files in git/git and I didn't see any checks but I don't know the code well enough to answer with confidence.

[2020-10-28 10:33] tux3 opened #5687 "Cross-domain redirects should not be hard-rejected"
### Reproduction steps

As an end-user of libgit2 (through cargo), I have setup `https://sub.myproject.org/repo/*` to redirect to `https://gitlab.com/myproject/repo/*`.

To repro, fetch a repo behind a cross-domain redirect (e.g. from myproject.org to gitlab.com).

### Expected behavior

Ideally, the redirect should be allowed by default, since the `git` cli tool allows it.
If this is too controve

[2020-10-28 14:27] ethomson commented on #5687
Interesting!  I thought that we had modeled our restrictions after git.  Any chance that your redirecting server is public so that I can 👀 the network traffic and understand a little better exactly what git's doing?

[2020-10-28 19:15] tux3 commented on #5687
Sure thing! The original server was private but I've thrown together a small public reproducer.

I'm redirecting `https://libgit2.alacrem.net/libgit2-test-repo/*` to `https://gitlab.com/tux3/libgit2-test-repo/$1`,
and also from `http://libgit2.alacrem.net/libgit2-test-repo/*` (no HSTS) to the same gitlab repo.

Here's the sample libgit2 code I've tested with:

[code]

You should be able to reprodu

[2020-10-29 18:35] suhaibmujahid opened #5688 "The same file appears as deleted and added in the same commit"
### Reproduction steps
* Clone https://github.com/npm/npm
* Create a diff for the commit `c178365094bcb99250fd85c9fc1de541ccbf541a`

_or_

Browse the commit on Github: https://github.com/npm/npm/commit/c178365094bcb99250fd85c9fc1de541ccbf541a

### Expected behavior
The file `doc/search.md` should appear as a modified file. The expected behavior consistent with `git` CLI tool as is shown below:
[co

[2020-10-31 00:30] gibfahn opened #5689 "Support @{push} revisions in git_revparse_ext(), and add a git_branch_push()"
Support in git for `@{push}` (similar to `@{upstream}` but for pushing not fetching) was added in https://github.com/git/git/commit/adfe5d04345631299f9a4518d56c6dd3d47eb0b3

[code]

Looking at the source, I see that `git_revparse_ext()` has special handling code for `@{upstream}` but not for `@{push}`:

https://github.com/libgit2/libgit2/blob/7f4fa178629d559c037a1f72f79f79af9c1ef8ce/src/revparse.c

[2020-10-31 13:45] lhchavez commented on #5688
FWIW `git diff` also reports the file being deleted and added in the same commit, since it was changed from being a symlink to a regular file:

[code]

[2020-10-31 16:33] ethomson commented on #5688
I don't know what "midfield" means precisely, but depending on your similarity options, a completely rewritten file will be split into an add and delete.  This is useful for tracking renames, especially cyclical ones, where you rename `a` to `b` and `b` to `a`.

This file looks to have been completely rewritten, so it's certainly reasonable that this would be the output here.  If you can reproduce

[2020-10-31 18:57] suhaibmujahid commented on #5688
@lhchavez thank you for your reply. I have the same behavior you described when I run the following:
[code]
[code]
but it looks different with `--stat`:
[code]
[code]

I'm not sure if this is intended behavior in the git tool. When you add the `--stat` option, you see the file as modified, but with the normal diff, you see it as deleted then added. This could be confusing, I think the naive except

[2020-10-31 19:41] suhaibmujahid commented on #5688
@ethomson thank you for your reply.

Sorry, I meant *modified* 😞 .

----

In this particular case, we do not have a rename. It is a complete written as you mentioned but without changing the path. I'm not sure if the similarity is involved in such cases.

For cyclical rename, I tried to replicate the case by doing a cyclical rename without changing the content. It appears as modified files, not a

[2020-11-01 23:32] ehuss commented on #5590
@ethomson It looks like this was not completely fixed. We are still seeing errors on 32-bit builds.

I captured an offending repository at https://github.com/ehuss/zlib-repro/blob/master/index2.tar.bz2 that should fail with the above example of attempting to clone it.  Tested with latest master 52294c413100ed4930764addc69beadd82382a4c.

I'm a bit uncertain why these lines were added: https://githu

[2020-11-03 17:45] zicklag commented on #5452
Looks like this is biting me in https://github.com/EmbarkStudios/cargo-deny/issues/305.

[2020-11-04 14:45] ethomson commented on #5688
Hmm.  I guess my question is whether this is a _data_ problem or a _reporting_ problem of that data.  `git_diff` creates a diff object with data, and then `git_diff_get_stats` creates a report on top of that data.

It doesn't feel like `git_diff_get_stats` should - despite the name - guarantee to provide the same reporting as `git diff --stat` does based on arbitrary input data.  It feels to me li

[2020-11-04 17:22] suhaibmujahid commented on #5688
Thank you @ethomson, I appreciate your response.

I agree with you that `git_diff_get_stats` should just report that data, not modify it. But also it will be confusing if the reporting does not match the git tool behavior.

I feel like there is a buggy behavior in the git tool itself. Passing the `--stat` option should not change that date and also the `git diff` command itself should not have the

[2020-11-04 17:42] ethomson commented on #5688
What I'm saying is that if you want to emulate `git diff --stat`, then you may need to pass some diff options to the `git_diff` function to make that happen before calling `git_diff_get_stats`.  libgit2's commands at this level are not 1:1 analog to git CLI commands.  If we had a `git_cmd_diff` (and I expect that we will) then it should have that 1:1 analog, but I don't think that there's necessar

[2020-11-06 02:07] rbmclean commented on #5280
Mind if I try to tackle this and #5598 ? Seems like all that needs to be done is add in the check mentioned above and a test case demonstrating the flaw.

[2020-11-06 09:05] ethomson commented on #5280
That would be great @rbmclean !

[2020-11-12 01:21] anthony-7 opened #5693 "French characters in file name not handled correctly"
We have a French customer who has files with names that contain the "à" character. For example, DEPTAB.DCàDEMOLIB.file.yml.

The filename in the path that git_status_foreach_ext() sends to its callback function is incorrect. It's returning DEPTAB.DCÃ DEMOLIB.file.yml. ie. It's replaced the "à" (0xE0) with "Ã " (0xC3 0xA0).

### Version of libgit2
1.1.0

### Operating system(s) tested
Win 10

Built

[2020-11-12 08:15] ethomson commented on #5693
Can you provide reproduction steps to produce this behavior?

[2020-11-12 23:14] anthony-7 commented on #5693
I've just realised that 0xC3 0xA0 is the UTF-8 byte code for "à". Does libgit2 only return strings in UTF-8 or is there a way that I can build it or call it such that it returns ASCII or UTF-16 ?

[2020-11-13 11:49] ethomson commented on #5693
No - git stores its files as UTF-8 and we don't have any functionality on top of that to give you file paths in a different format.  If you have UTF-16 data, you'll need to do a conversion step.

[2020-11-13 15:35] ethomson commented on #5590
Thanks @ehuss, I'll take a look!

[2020-11-13 16:10] segevfiner opened #5695 "Support streaming read of a blob"
### Description
libgit2 currently supports [`git_blob_rawcontent`](https://libgit2.org/libgit2/#v1.1.0/group/blob/git_blob_rawcontent) which allows to read the raw contents of a blob into memory. But this loads the entire blob into memory at once. It would be nice to be able to "stream" the read of the blob so it can be read incrementally in smaller chunks, without allocating memory for the entire

[2020-11-13 16:54] ethomson commented on #5695
You can stream any ODB object using https://libgit2.org/libgit2/#v1.1.0/group/odb/git_odb_open_rstream

One could imagine an abstraction for blobs - especially since those are the only objects that you're likely to want to read in a streaming fashion - but this exists in any case.

[2020-11-14 20:33] tompazourek opened #5696 ".gitignore inconsistency with negate pattern and character groups"
### Reproduction steps

- Initialize a new empty repository via `git init`.
- Create an untracked file called `.gitignore` with the following contents:

[code]
- Create a second untracked file inside the repository under path `my-folder/ignored-folder/somefile.txt` with some content (I used `test content`).
- Call the `git_status_list_*` methods to get the status entries
  - Using `GIT_STATUS_SHOW

[2020-11-14 21:46] ethomson commented on #5696
Does this reproduce with the latest libgit2?  There have been numerous changes since 0.28, in ignore handling in particular.

[2020-11-15 13:58] tompazourek commented on #5696
@ethomson Thanks for your reply, you're right that 0.28 is a bit older and it's good to know that ignore handling has been worked on.

Unfortunately, 0.28 is the latest one I'm able to get via "LibGit2Sharp.NativeBinaries"... I already asked about an update in https://github.com/libgit2/libgit2sharp.nativebinaries/issues/110, but I'm not sure how much it's still maintained considering that the ver

[2020-11-19 05:17] Qix- opened #5698 "Can we please export GIT_REPOSITORY_INIT__IS_REINIT?"
Internally, the `GIT_REPOSITORY_INIT__IS_REINIT ` constant (defined internally in `src/repository.h`) is OR'd into the supplied options pointer if the repository was re-initialized.

For cases of tracing in higher-level libraries, this is valuable information to have when debugging problems - however, doing it "properly" at the moment otherwise requires two calls to init - one with the `NOREINIT`

[2020-11-19 09:34] ethomson commented on #5698
Let's find a better way to surface this information to you.

I was a little confused by your suggestion at first - how would you get this information back from a call?  Until I realized that we're changing the `opts` that you give us directly in `git_repository_init_ext`.  This is horrible.  We should be making a defensive copy here and only touching _that_, we should never touch the `opts` that y

[2020-11-19 10:20] Qix- commented on #5698
Completely agree. 🙂

I have a weird (but valid, I promise!) use-case where a list of commands are specified. If the first one is `init`, then we try to initialize a repository in the working directory. If it is "re-initialized" (exists), I want to know about it so I can tell the user and proceed to open it immediately. Otherwise, I want to initialize it (which automatically opens it for me). If th

[2020-11-19 10:22] Qix- commented on #5698
By the way, just wanted to say stellar codebase quality. I've used libgit2 minimally in the past for some utilities but now that it's the primary driver of this new project and that I'm diving into its internals it's really refreshing how clear everything is. Exceptionally rare :) nice job.

[2020-11-20 11:37] someniceone opened #5699 "`git_merge_driver__builtin_apply` doesn't need to recalculated `best path` and `best mode`"
It could get `best path` and `best mode` directly from `git_merge_file_result`:

[code]

[code]

[2020-11-21 18:28] ethomson commented on #5699
Good eye.  This seems like a nice optimization that we could make!  Would you like to open a PR with the changes?

[2020-11-21 22:06] #5280 closed

[2020-11-24 00:33] someniceone commented on #5699
@ethomson no problem, I'll do it, just came here to make sure I didn't miss something.

[2020-11-24 04:00] someniceone commented on #5699
@ethomson  It doesn't work, leads to an error at `6/8 Test #1: offline ..........................Child aborted***Exception:  10.58 sec`, could you pls give some tips?

<img width="433" alt="Screen Shot 2020-11-24 at 11 57 41 AM" src="https://user-images.githubusercontent.com/313271/100047040-7af1ef00-2e4c-11eb-9915-9926f91603cb.png">

[2020-11-24 13:40] utkarsh2102 opened #5711 "relative paths in alternates mishandled when nested"
Hey,

Whilst maintaining the Debian package of libgit2, I got a bug report that says:

alternates properly when a relative path is nested from
within another alternate.  Regular git(1) works fine
(as shown in the attached script).

"rugged" library hits it, too.

with the "ruby-rugged" gem.  I chose Ruby for this bug report
since I expect libgit2 maintainers to be familiar with it.

The complete b

[2020-11-24 15:52] StefanKarpinski commented on #5496
This is still incorrectly documented:

https://libgit2.org/libgit2/#HEAD/group/callback/git_transport_certificate_check_cb

[2020-11-25 01:03] popena opened #5713 "`git_diff_from_buffer` fails to parse a diff file containing an empty file"
**Reproduction steps:**
Calling git_diff_from_buffer when the diff file contains deletion/creation of an empty file.
Call git_diff_from_buffer with the following diff file:

[code]
Same happens with:
[code]

**Expected behavior:**
Proper git_diff object. Command line version of git has no problem with the diff file.
**Actual behavior:**
Error code -1, git_diff null.

**Version of libgit2 (release

[2020-12-02 02:22] rbmclean commented on #5448
I'll look into this.

[2020-12-02 03:19] rbmclean commented on #5448
I believe I've identified the problem, but a fix has a good chance of breaking other things. It seems git stores timestamps as unsigned 64 bit integers, as shown below:
[code]
Currently, an overflow error occurs in git_signature__parse() when it calls git__strntol64(), as it uses *signed* 64 bit integers. I'm thinking a fix would require writing git__strntoul64(), changing git_time_t to be unsigne

[2020-12-02 10:38] ethomson commented on #5448
Thanks for your investigation.  What's funny is that this is just a subset of values near the epoch.  Generally, I cannot encourage git to create a timestamp prior to Dec 31, 2012:

[code]

Which is written as:

[code]

With a few exceptions.  The epoch:

[code]

Which makes sense:

[code]

And this bizarrely gigantic number, which I would point out is _not negative_ but certainly suggests a slopp

[2020-12-02 10:46] ethomson commented on #5448
One thing that's notable here is that even though git produced the commits with the stupidly large values, they're flagged as not being legal by `git fsck` - as is our commit that has a negative value:

[code]

I don't feel like we necessarily want to break an API to support technically illegal commits...  🤔

[2020-12-02 21:28] koenbnl opened #5716 "Ligbit2"
Library

[2020-12-02 21:53] ethomson commented on #5716
Yes!

[2020-12-02 21:53] #5716 closed

[2020-12-03 13:02] SamiHiltunen opened #5717 "`git_apply_to_tree` produces an incorrect result instead of failing"
### Reproduction steps

Apply a patch that creates a file to a tree that already contains a file with the same name.

1. Have an existing tree with a file called `file` with content `content-1`

2. Use `git_apply_to_tree` to apply the following patch to it:

[code]

### Expected behavior

Applying the patch should fail.

Starting state:
[code]

`git apply`:
[code]

`git am`:
[code]

`git am -3`:
[

[2020-12-05 06:27] agersant commented on #5590
Hello and thanks for looking into this! Is there another ticket I can subscribe to for updates on the 32-bit build errors or should this one be re-opened?

[2020-12-05 08:19] ethomson commented on #5590
I'll reopen this one.  I'll fix this problem this weekend.

[2020-12-07 02:02] rbmclean commented on #5655
I'll tackle this as well.

[2020-12-08 06:22] joshtriplett opened #5721 "git_odb_open_rstream should use git_object_size_t, not size_t"
`git_odb_open_rstream` returns the object size as a `size_t` out parameter. This should use `git_object_size_t`, to allow for objects larger than 4GB.

(https://github.com/libgit2/libgit2/pull/3118 made the equivalent change for wstream.)

[2020-12-09 14:54] rbmclean commented on #5655
I am unable to replicate this. I've done a fair amount of testing with `git_attr_get_many_with_session` and it seems to work correctly. I believe the issue is using `-filter -merge -diff` instead of `!filter !merge !diff`. As mentioned in a link in the GitUp issue, these have different behaviors. I believe this is a user issue, not a libgit2 issue.

[2020-12-09 15:07] rbmclean commented on #5717
I'm able to replicate this. I'll work on it.

[2020-12-09 16:37] ethomson commented on #5655
@GsxCasper can you provide some more details on reproduction steps?  If not, I'll close this.

[2020-12-09 16:37] ethomson commented on #5655
Thanks @rbmclean for digging in here!

[2020-12-10 02:26] GsxCasper commented on #5655
Sure thing. I'll get you a repro at the beginning of next week as I currently don't have access to my computer until the end of the week.

[2020-12-10 14:54] jeroen opened #5725 "Big performance regression when scanning for workdir changes in repo with submodules"
We are using a [metarepo](https://github.com/r-universe/ropensci) that contain submodules for many other projects. Recently we started noticing bad performance after updating to a new distro with a newer version of libgit2.

The regression happens in calls that scan for workdir changes, such as `git_status_list_new()` and `git_index_add_all`.

Below is a small example that illustrates the problem.

[2020-12-10 14:57] ethomson commented on #5725
Do you know the prior version that was less slow?  Do you have an idea of what that perf looked like?

[2020-12-10 15:18] jeroen commented on #5725
Looking into my past GHA logs now... performance for this call has actually always been bad, but it got 2x slower somewhere in between libgit2 0.28.4 and 1.0.0.

I have no idea what it can possibly be doing that is taking so long, if none of these submodules are even initialized?

[2020-12-10 23:06] vchuravy opened #5726 "Concurrent clones from local bare repository"
### Reproduction steps

Our current workflow uses LibGit2 to:

1. Create a bare clone of the upstream repository
2. Concurrent workers use the bare clone to a local clone into their local working directory.

### Expected behavior
Each worker should obtain a clone

### Actual behavior

We seem to be running into a race condition on the `bare clone`. Looking at the log of the workers:

- Several wor

[2020-12-10 23:44] ethomson commented on #5726
What's you've posted is obviously not C...  what is it?  Can you help me boil this down to a reproducible issue in libgit2 itself?

I don't mean to suggest that libgit2 isn't the problem - I'm sure it is - but I'd like to better understand what you're doing precisely.

[2020-12-11 03:25] lhchavez commented on #5725
if you call `git_repository_submodule_cache_all(repo);` (needs a `#include <git2/sys/repository.h>`) just before `git_status_list_new()`, it no longer needs to parse the `.gitmodules` file for every single submodule, making it as fast (or faster?) as shelling out.

[2020-12-11 09:19] jeroen commented on #5725
Thanks! What is the reason that `git_repository_submodule_cache_all()` isn't documented in https://libgit2.org/libgit2/#HEAD/group/submodule or part of the regular exports in git2.h? Might it disappear one day?

Do I explicitly need to call `git_repository_submodule_cache_clear` to prevent leaking, or does it get cleaned when the we call `git_repository_free` ?

[2020-12-11 09:41] ethomson commented on #5725
I think that there's a documentation generation bug here.  😢

(I would think that they would be in https://libgit2.org/libgit2/#HEAD/group/repository, not the submodule group, but that's a detail; your question is a good one either way.)

I'd have to familiarize myself with the submodule code - which, like all things submodules, I've done my best to avoid as best as possible.  But things go into `

[2020-12-11 13:54] jeroen commented on #5725
Thank you for the detailed information.

In my bindings, all of the `git_repository *` objects are short-lived, essentially a new one is allocated for each user command, similar as with command line git.

AFAICT, it is safe for my bindings to globally enable `git_repository_submodule_cache_all()` for all commands then, because the cache will never outlive the temporary `git_repository *` object an

[2020-12-11 15:28] ethomson commented on #5725
Yes - with the caveat that you may be paying a penalty to load that cache if you're not doing work on submodules.  This sounds like it might not be a scenario that you need to worry about, though.

Yeah, I think that it will, and frankly, I would just run it always.  You won't double-cache with #5727 since it will use the repo's submodule cache if you've created one.  (If I'm reading the code righ

[2020-12-12 00:19] ehuss commented on #5590
@ethompson, I was wondering if you had a chance to look at this.

I've been taking a closer look, and I think the solution is to change the check for `!bytes`. It is possible for zlib to consume some input, but not produce any output (bytes=0), and return Z_BUF_ERROR indicating that it needs more input (when it hits the end of the window). I think that you added it to detect the scenario that forw

[2020-12-13 15:18] #5725 closed

[2020-12-13 16:05] edo9300 opened #5738 "Crash with GIT_OPT_SET_SSL_CIPHERS option"
Since the openssl stream implementation checks for this option when it's globally initialized the first time https://github.com/libgit2/libgit2/blob/d185ab24af9498cfce524e53bb82229079ad2af5/src/streams/openssl.c#L240-L243 it has to be set before calling git_libgit2_init, otherwise it will be impossible to change it afterwards. But in the option parsing, it calls ``git__free`` and ``git__strdup`` h

[2020-12-13 21:15] wehrend opened #5739 "Static linking fails for external dependency 'http_parser'"
Hello, I have a question I couldn't solve on my own.

For the maker software 'Fritzing' I need libgit2 v0.28.x
as external dependency as a static build

Also I've seen there is already an http_parser implementation
in deps/ without any references to an external library.
So which one is the right one? Please clear up

### Reproduction steps

clone, build and install http_parser to /usr/local/lib
cl

[2020-12-14 09:42] ethomson commented on #5739
I'd use the included version if you need to link statically.

[2020-12-14 14:54] ethomson commented on #5738
Indeed, that makes sense.  You should make _no_ calls to libgit2 prior to calling `git_libgit2_init`.  We should change this so that setting this option should update the cipher list after-the-fact.

[2020-12-14 20:21] wehrend commented on #5739
I was able to work around it,by just linking Fritzing with the installed version of libgit2.
I guessed that it needs an external dependency called libhttp_parser based on the dependencies listed by the debian package,
but as I have seen the http_parser in deps doesn't need anything. And I had the same result without the external lib

[2020-12-14 20:55] ethomson commented on #5739
Thanks for the info!

[2020-12-14 20:55] #5739 closed

[2020-12-15 10:07] ethomson commented on #5699
I presume this is the `git_merge_file_result_free` a few lines below.  You will need to ensure that we don't free the `result.path` if we're now returning it.

[2020-12-15 10:08] #5693 closed

[2020-12-15 10:10] #5587 closed

[2020-12-15 10:35] Griffon26 commented on #5442
We are using google's git-repo and it also uses the worktreeconfig extension. Having support for that in libgit2 would hopefully allow us to use TortoiseGit with git-repo.

[2020-12-15 23:09] ethomson commented on #5590
Thanks @ehuss - I agree with your assessment and appreciate the patch.  Sorry it took so long, over the weekend I was looking at this but I mis-transcribed it with a `!bytes || !consumed` instead of `!bytes && !consumed`.  😢

[2020-12-16 00:16] ethomson commented on #5590
Closed (again 🤞) via #5740

[2020-12-16 00:27] GsxCasper commented on #5655
@rbmclean thanks for looking into this. I can confirm that with `!filter !merge !diff` instead of `-filter -merge -diff` it seems to work correctly.
I don't know enough about the subtleties of `.gitattributes` but it's expected that `-filter -merge -diff` shouldn't work in this case then we can close this issue as "user error" :)

[2020-12-16 02:41] agersant commented on #5590
Thank you!

[2020-12-16 14:24] A-Ovchinnikov-mx commented on #5646
@ethomson Still doesn't work for me with libgit2 v1.1.0 and LibGit2Sharp on Windows - there is no `refs/remotes/origin/HEAD` file. Is there some special configuration on `git_clone` that should be done for this to work?

[2020-12-20 11:19] Alovchin91 opened #5745 "Regression: libgit2 crashes on Windows arm64"
### Reproduction steps

1. Use [git2-rs](https://github.com/rust-lang/git2-rs) v0.13.13 in a Rust project. This version references libgit2-sys v0.12.15 which includes the merge commit that breaks the functionality.
2. Try to clone the repository using Rust's API `Repository::clone` which calls `git_clone` from libgit2.

### Expected behavior

The repository is cloned successfully.

### Actual beha

[2020-12-20 11:39] ethomson commented on #5745
😬  That's disappointing.  Let me see if I can get one of my raspberry pis to run Windows arm64...

[2020-12-20 11:42] ethomson commented on #5745
Hmm, this looks like there may be an alignment problem https://github.com/libgit2/libgit2/commit/5699ef81942538bc24df5285876e5830570b65f3#diff-ec35ecc1ce27df7c8febf4f8c440c329eabb48fa92d2cfb73bd18689709e4452R114

🤔

[2020-12-20 11:48] Alovchin91 commented on #5745
@ethomson Thanks for such a quick reply! Shall you have a patch to test, let me know and I can do that today.

[2020-12-20 16:36] ethomson commented on #5745
@Alovchin91 I opened #5746 with a possible fix.  I haven't tested it on Windows on ARM64 _but_ I could trivially reproduce _an_ alignment problem on Sparc64.  This fixes that issue.  I hope that you're seeing the _same_ issue.  🤞

If not, I'll need to figure out how to get a WoA system working.

[2020-12-20 17:22] Alovchin91 commented on #5745
@ethomson Thanks, I'm gonna check it now! 👍

I also managed to reproduce the issue on WSL 2 on the same Surface Pro X: https://github.com/rust-lang/git2-rs/issues/645#issuecomment-748635273

So maybe you don't even need a WoA system but just Linux ARM64.

[2020-12-20 17:57] ethomson commented on #5745
We build on Linux arm64 as part of our CI - I think that it may an LP64/LLP64 difference.

[2020-12-20 20:48] lhchavez commented on #5745
is it running on real hardware? from [the build logs](https://github.com/libgit2/libgit2/runs/1585151224?check_suite_focus=true)  it _seems_ to be using QEMU, and QEMU [does not emulate unaligned memory access exceptions](https://stackoverflow.com/questions/51520635/how-to-emulate-arm-unaligned-memory-access-exceptions). so it seems like the pointer size is not at fault here (just unaligned access

[2020-12-20 21:25] #5745 closed

[2020-12-20 21:28] ethomson commented on #5745
Aha.

Unfortunately, GitHub Actions doesn't have arm hardware available, so you're right that it's running in qemu.  I hadn't considered that emulation may be the problem here.

Amusingly, I had been running builds on physical Linux arm32/arm64 a few weeks ago as a test, but the emulation was so much simpler that I gave up on it.  🙃

[2020-12-22 19:30] A-Ovchinnikov-mx commented on #5646
It appears this still doesn't work with the latest libgit2 when `checkout_branch` is set in `git_clone_options` being passed to `git_clone`. The `refs/remotes/origin/HEAD` file is not being created. Checked it using git2-rs.

I will prepare a repro and open a new issue.

[2020-12-22 19:37] A-Ovchinnikov-mx opened #5751 "refs/remotes/origin/HEAD is not created when cloning a branch"
### Reproduction steps

1. Set `checkout_branch` in `git_clone_options`
2. Call `git_clone` passing these options

### Expected behavior

`refs/remotes/origin/HEAD` file is created pointing to the remote default branch.

### Actual behavior

`refs/remotes/origin/HEAD` file is not being created at all.

### Version of libgit2 (release number or SHA1)

v1.1.0
also f4b473fa842a84147d8036a27bac5c026c4

[2020-12-22 19:38] A-Ovchinnikov-mx commented on #5751
It appears #5646 still doesn't work with the latest libgit2 when `checkout_branch` is set in `git_clone_options` being passed to `git_clone` because `update_remote_head` is not being called inside `update_head_to_branch` at all.

[2020-12-22 23:53] arroz opened #5752 "Cloning a repo via http(s) from a server with HTTP/2 enabled fails with "early EOF""
This can be seen by using the libgit2 "clone" example to clone the following repo: https://git.libssh.org/projects/libssh.git

This happens with a client built with libgit2, either v1.1.0 or main branch, both running on macOS (using either SecureTransport or OpenSSL) and FreeBSD using OpenSSL. Before v1.1.0, it failed with a "server requested upgrade" error (this was corrected [with this patch](ht

[2020-12-23 11:30] jeroen commented on #5751
It works for me. Can you provide example code?

[2020-12-25 06:56] Lococol opened #5753 "New"
You are opening a _bug report_ against the libgit2 project: we use
GitHub Issues for tracking bug reports and feature requests.  If you
have a question about an API or usage, please ask on StackOverflow:
http://stackoverflow.com/questions/tagged/libgit2.  If you want to
have high-level discussions about the libgit2 project itself, visit
https://github.com/libgit2/discussions.

Otherwise, to report

[2020-12-27 23:48] csware commented on #2663
Fixed by fe41e5823986aff01054b7db4b869b2896ea4c30 resp. PR #5741.

[2020-12-27 23:48] #2663 closed

[2020-12-30 17:08] utkarsh2102 commented on #5711
@ethomson, any idea about this?

[2020-12-31 08:17] Lococol opened #5754 "https://www.riamoneytransfer.com/us/en/track-money-transfer"
You are opening a _bug report_ against the libgit2 project: we use
GitHub Issues for tracking bug reports and feature requests.  If you
have a question about an API or usage, please ask on StackOverflow:
http://stackoverflow.com/questions/tagged/libgit2.  If you want to
have high-level discussions about the libgit2 project itself, visit
https://github.com/libgit2/discussions.

Otherwise, to report

[2020-12-31 08:28] Lococol commented on #5754
https://www.riamoneytransfer.com/us/en/track-money-transfer
Duplicate of #

[2020-12-31 13:50] #5754 closed

[2020-12-31 15:12] lhchavez commented on #5726
just out of curiosity: is the bare clone being modified concurrently with the workers that are cloning that? I was not able to reproduce this behavior by just cloning a repository multiple times, i *had* to be actively modifying the source repository for me to hit the same issue. stack trace just for reference:

[code]

is there a way to perform locking (like with a read-write mutex, or through th

[2021-01-03 16:00] JoshuaS3 opened #5755 "Typo in enum item "GIT_BLOB_FILTER_ATTTRIBUTES_FROM_HEAD""
### Expected behavior
`GIT_BLOB_FILTER_ATTRIBUTES_FROM_HEAD`

### Actual behavior
`GIT_BLOB_FILTER_ATTTRIBUTES_FROM_HEAD`

### Version of libgit2 (release number or SHA1)
HEAD (c76e9f22912e3b987a4e4590eb386477ae114f85 on my system but it looks like this has been an issue since [v0.99.0](https://github.com/libgit2/libgit2/tree/v0.99.0))

---

See definition here: https://github.com/libgit2/libgit2/

[2021-01-03 16:08] JoshuaS3 opened #5756 "Lack of documentation for "version" member of struct "git_blob_filter_options""
### Expected behavior
Detailed usage documentation describing how to value this property when passing options to `git_blob_filter`.

### Actual behavior
No usage documentation at all.

### Version of libgit2 (release number or SHA1)
HEAD (fe41e5823986aff01054b7db4b869b2896ea4c30)

---

Definition:
https://github.com/libgit2/libgit2/blob/fe41e5823986aff01054b7db4b869b2896ea4c30/include/git2/blob.h#

[2021-01-04 01:09] lhchavez opened #5757 "support git 2.19's commit-graph"
Starting from version 2.19, git supports [`commit-graph`](https://github.blog/2018-09-10-highlights-from-git-2-19/#user-content-commit-graphs), which allows for some significant improvements in the performance of [several graph-based operations](https://devblogs.microsoft.com/devops/supercharging-the-git-commit-graph-iii-generations/). Notably computing the merge base between two (or more) commits

[2021-01-04 01:13] lhchavez opened #5758 "support git 2.29's `commit-graph` path-based Bloom Filters"
This depends on #5757

Git 2.29 added an extension for `commit-graph` files such that they also contain a [bloom filter to track modified paths in commits](https://github.blog/2020-07-27-highlights-from-git-2-28/#changed-path-bloom-filters), which can make the implementation of path-based revwalks easier AND faster.

Once some of the changes in #5757 land, this work can start. Some of the tasks in

[2021-01-04 02:34] JoshuaS3 commented on #5756
It looks like `version` is supposed to be `GIT_BLOB_FILTER_OPTIONS_VERSION`.

`git_blob_filter`:
https://github.com/libgit2/libgit2/blob/fa618a595bff675fa1d001dc9d57f8fd6c1b052e/src/blob.c#L426-L427

`GIT_BLOB_FILTER_OPTIONS_VERSION`:
https://github.com/libgit2/libgit2/blob/fa618a595bff675fa1d001dc9d57f8fd6c1b052e/include/git2/blob.h#L129

`GIT_ERROR_CHECK_VERSION`:
https://github.com/libgit2/libg

[2021-01-04 02:43] JoshuaS3 commented on #5756
Opened a PR at #5759

[2021-01-04 02:50] lhchavez commented on #5756
yeah, ideally the `.version` fields in any `_options` struct should not be manually populated. instead there are two initialization patterns that are equivalent:

[code]

that way the struct has good defaults set.

but `git_blob_filter_options` lacks `git_blob_options_init()`!

[2021-01-04 02:58] JoshuaS3 commented on #5756
Oh, wow. Now I see something like that for `git_clone_options`

https://github.com/libgit2/libgit2/blob/fe41e5823986aff01054b7db4b869b2896ea4c30/include/git2/clone.h#L96-L104

https://github.com/libgit2/libgit2/blob/fe41e5823986aff01054b7db4b869b2896ea4c30/include/git2/clone.h#L171-L183

It looks like this documentation is just completely missing from `git_blob_filter_options`.

[2021-01-04 09:52] #5753 closed

[2021-01-04 16:51] A-Ovchinnikov-mx commented on #5751
Hi @jeroen, I would be happy to do so but C++ dependency management is beyond me. I could provide Rust code which would essentially use just a wrapper around libgit2's APIs.

[2021-01-04 21:16] greened commented on #4674
Agreed, there is probably some lower-hanging fruit here beforer going multitheraded.  I've run git clones with threrading disabled and they don't take as long as libgit2.

[2021-01-06 00:20] ehuss opened #5761 "assertion/crash with empty defaultBranch"
### Reproduction steps

In `~/.gitconfig` set the following:

[code]

And run the following which initializes a repository and fetches into it with a specific refspec mapping:

[code]

(Note: I don't know why someone would end up with an empty defaultBranch, but I've had two independent user reports of ending up with that config.)

### Expected behavior

Should successfully fetch the remote, or re

[2021-01-06 00:41] detly commented on #5761
I was one of them, and while it's probably tangential to this actual issue, I am 100% sure I didn't add it myself (I checked editor histories, bash history, it's version controlled anyway, etc.)

I mention this because if it's added automatically by something (Git or an extension or 3rd party tool), it might be worth adding a very specific error message, depending on how closely you can identify t

[2021-01-06 11:49] #5756 closed

[2021-01-07 10:15] #5755 closed

[2021-01-07 10:47] ethomson commented on #5761
Hmm.  I've added a test for this, which creates a global `.gitconfig` with:

[code]

and I get an error returned: `the value of init.defaultBranch is not a valid reference name`.

Here's my test:

[code]

[2021-01-07 13:46] detly commented on #5761
@ethomson I originally hit this via Cargo, and just tried it on another machine. Funnily enough, I get:

[code]

I will try it on the machine I originally saw the problem on and see if I can reproduce it.

[2021-01-07 14:08] ethomson commented on #5761
Not quite sure why clone doesn't trigger this, only fetch.  Doesn't matter, though, #5770 should fix this.

[2021-01-07 15:39] #5761 closed

[2021-01-08 17:05] jennybc commented on #5562
In case anyone else wanders by, I think this issue has effectively been addressed, largely in #5581.

In v1.1, "Fernweh", we have:

https://github.com/libgit2/libgit2/blame/main/docs/changelog.md#L35-L36

[2021-01-08 17:47] ethomson commented on #5562
I expect that git will also start using `main` as the default branch name when `init.defaultBranch` is not specified.  That was the other thing that I had expected to do in libgit2 to snap to their changes.

In fact, I expected that to happen already, so maybe they've lost the motivation to do this work.  I'll try to get a temperature reading on what they have in mind, if they are not planning on

[2021-01-10 02:42] Githubber2021 opened #5777 "Does libgit2 support to disable packing/compression?"
Hi,

this is more of a question and bugreport at the same time. I am trying to set the compression of a specific repository to 0/none but libgit2 keeps packing the objects. Any help is appreciated!

Otherwise, to report a bug, please fill out the reproduction steps
(below) and delete these introductory paragraphs.  Thanks!

### Reproduction steps

I tried the following:

[code]

### Operating syst

[2021-01-10 21:33] ethomson commented on #5751
Thanks for the report @A-Ovchinnikov-mx!  This should now be fixed with #5775

[2021-01-13 00:58] lrm29 opened #5779 ".gitignore file contains "tags" which ignores some folders in the test directory"
The "tags" pattern in the .gitignore file;

https://github.com/libgit2/libgit2/blob/487f2a8287c4d1d41d39e05ac53d0e50c679d7e9/.gitignore#L5

means that (for example), the contents of these directories would be ignored:

tests/resources/empty_bare.git/refs/tags
tests/resources/testrepo.git/refs/tags
tests/resources/push_src/.gitted/refs/tags
tests/resources/empty_standard_repo/.gitted/refs/tags
test

[2021-01-13 14:52] ethomson commented on #5779
Yes, it should - this is to ignore [ctags files](https://en.wikipedia.org/wiki/Ctags).  It should only be meant to ignore the `tags` file in the root of the working directory.

[2021-01-15 13:56] pnordahl commented on #4230
I can confirm that this is an issue for me as well, using https://github.com/rust-lang/git2-rs. Extremely slow performance of `statuses` more or less forcing me to shell out to `git status` instead; it's roughly a 20x slowdown.

It would be great if this could be improved to performance parity with `git`!

[2021-01-17 09:41] beepboop271 opened #5781 "attr: Missing support for .gitattributes files with quoted patterns"
From the [git docs](https://git-scm.com/docs/gitattributes):

Looks like the change to add quoted patterns was made in git/git@860a74d

### Reproduction steps

Make a new empty git repository with `git init`.
Create a `.gitattributes` file:

[code]

Create a program which tries to open the repository and read attributes:

[code]

### Expected behavior

The output of the program should be 0, 1, 1,

[2021-01-19 09:01] jaripog opened #5782 "SSL Routines: SSL shutdown: Shutdown while init"
You are opening a _bug report_ against the libgit2 project: we use
GitHub Issues for tracking bug reports and feature requests.  If you
have a question about an API or usage, please ask on StackOverflow:
http://stackoverflow.com/questions/tagged/libgit2.  If you want to
have high-level discussions about the libgit2 project itself, visit
https://github.com/libgit2/discussions.

Otherwise, to report

[2021-01-19 09:13] ethomson commented on #5782
Does this have anything to do with libgit2?

[2021-01-19 09:19] jaripog commented on #5782
Hi ethomson,

I really dont know, i was able to see the some changes made to openssl.c where out error_log was also pointing to the same file

https://github.com/libgit2/libgit2/pull/4875

Please guide.

[2021-01-19 09:21] jaripog commented on #4644
im too facing the same issue

[2021-01-19 09:41] ethomson commented on #5782
It looks like the problem is with OpenSSL or Apache.  We don't build OpenSSL, we use it just like you do.  I think that you need to open an issue with the Apache project, or with OpenSSL themselves.

[2021-01-19 09:41] #4644 closed

[2021-01-19 09:42] ethomson commented on #4644
Looks like #4875 fixed this!  Sorry @jaripog, you're definitely facing a different issue.

[2021-01-19 09:46] jaripog commented on #5782
Thanks ethomson

[2021-01-19 11:35] #5782 closed

[2021-01-20 20:17] thuibr commented on #5332
Hello, I would like to +1 this issue. TortoiseGit uses libgit2. See https://groups.google.com/g/tortoisegit-users/c/rAu2WiA5YBs for further information.

[2021-01-25 07:54] invrainbow opened #5785 "git_repository_discover doesn't work inside subst-mounted drives"
I used `subst` on Windows to mount a folder to the w: drive:

[code]

This `c:\some\folder` is a git repo. Now if I call `git_repository_discover` on a folder inside, `w:\inner`

[code]

then it fails with

[code]

But calling `git_repository_discover` with `c:\some\folder\inner` works.

[2021-01-29 10:58] A-Ovchinnikov-mx commented on #5751
Hi @ethomson ,

Thanks for addressing this! It looks like the code creates a HEAD symref that points to the branch that is being checked out. But I believe git clone sets it to the actual default branch.

[2021-01-29 11:40] ethomson commented on #5751
Hmm.  You're right.  I had walked through what git did here, and was puzzled by its behavior.  In fact, I must have been confused about what I was seeing.

[2021-01-30 09:40] ethomson commented on #5785
Out of curiosity, does setting `across_fs` to `1` change the behavior?

[2021-02-01 10:57] J0Nes90 opened #5788 "Feature Request: git_status_list_new for single folder - non recursive"
Hi,

this is a follow up from [stackoverflow](https://stackoverflow.com/questions/65981102/libgit2-pathspec-match-single-folder-non-recursive).
With git CLI I can query the status for a single folder non recursive by using a glob pattern like so:
[code]

I'd love to do the same using `git_status_list_new`. Using the pathspec property on git_status_options I don't see a way to achieve this.
Passing

[2021-02-01 11:45] ethomson commented on #5788
This is a worthwhile addition.  I don't know offhand how this should look - I find git's `:(glob)` prefix ... jarring.  My preference would be another option to treat pathspecs as globs.

It looks like `:(glob)` supports double-star glob syntax, so my hunch is that there should not be any pathspecs that _can't_ be specified in glob syntax, but I'd want to think through this a bit more.

[2021-02-01 11:50] #5779 closed

[2021-02-08 00:06] A-Ovchinnikov-mx commented on #5751
@ethomson Here's my attempt to fix it again: https://github.com/libgit2/libgit2/pull/5791

One test is failing though. Maybe you could help me to understand what is going wrong there? Thanks!

[2021-02-08 12:19] denofevil opened #5792 "`reset` call resets whole index instead of just `pathspecs`"
### Reproduction steps
1. Make sure that several files are staged in the repo (e.g. `file1` and `file2`)
2. call `reset(
	git_repository *repo,
	const git_object *target,
	const char *to,
	git_reset_t reset_type,
	const git_checkout_options *checkout_opts)`
with `checkout_opts` containing only `file1` in paths and `reset_type` being `GIT_RESET_MIXED` or `GIT_RESET_HARD`.

### Expected behavior
Onl

[2021-02-08 12:40] ethomson commented on #5792
Interesting.  Checkout paths are for _just that_, doing the checkout.  They were not intended to filter the reset behavior.

I can certainly see why you might want a pathspec for the reset.  It's not clear to me that using checkout pathspecs here are the right thing to do.  That's certainly not what I would have expected.  But having a second set of pathspecs would similarly be a disappointing exp

[2021-02-08 12:52] denofevil commented on #5792
I'd like to agree with that, but that makes a strange difference between `reset` and `reset_default`. Which also contradicts CLI behaviour (with `--mixed` flag).

[2021-02-10 03:11] fahadfa commented on #3504
https://http://hr.al-jazeerapaints.com/Menaitech2/application/hrms/mename/ESS/system_info/reports.php
<body>

[2021-02-10 07:36] martinvonz opened #5793 "Note tree should gain (and lose) fanout levels as necessary"
### Reproduction steps

Create hundreds of git notes under a single notes ref.

### Expected behavior

A notes tree with similar fanout as git core would have created (for "hundreds of commits", that would probably be one fanout level).

### Actual behavior

A flat notes tree.

I have a repo with ~1500 commits, of which 1100 had notes created by libgit2. Reading the 1100 notes took ~1.8s including

[2021-02-10 13:24] threema-danilo opened #5794 "Support for "git am""
It seems that right now there is no functionality to replicate what `git am` does, is that correct?

It would be good if libgit2 could apply a series of patches in a patchfile as separate commits.

For example: Applying this patchfile https://patch-diff.githubusercontent.com/raw/libgit2/libgit2/pull/5750.patch with `git am` should result in three commits, properly attributed to the commit author.

[2021-02-11 22:13] sathieu commented on #4164
I've implemented `NO_PROXY` in https://github.com/libgit2/libgit2/pull/5796.

[2021-02-12 10:29] pkittenis commented on #5225
Latest libssh2 (1.9+) can be found in the [EPEL repository on Redhat 8](https://rpms.remirepo.net/rpmphp/zoom.php?rpm=libssh2). It's only older versions that are not available in rhel8.

There is no need to downgrade an OS to install an (out of date) package.

[2021-02-16 16:21] FintanH opened #5799 "Extra want in git_remote_download"
### Reproduction steps

I haven't been able to reduce the steps to something concrete, but I'm hoping that you might have some insight for me where I could work towards narrowing down the case to something reproducible :)

We use the Rust bindings of `libgit2` in [radicle-link](https://github.com/radicle-dev/radicle-link/) and it's the backbone of our protocol. The scenario is that we have a node

[2021-02-17 02:42] lhchavez commented on #5799
woah, that's bad. I suspect that this patch should fix the issue you are seeing:

[code]

_but_ i think that's still not the whole thing that's needed, since libgit is sending the same set of commits over and over again instead of advancing a pointer or something. i'm not too familiar with the multi_ack_detailed mode in the interactive smart protocol (i've only worked with the non-interactive tran

[2021-02-17 10:09] FintanH commented on #5799
Thanks for the reply @lhchavez! I'll try and see if this patch helps the situation.

I've zipped up the repositories:
* [node.tar.gz](https://github.com/libgit2/libgit2/files/5994846/node.tar.gz)
* [local.tar.gz](https://github.com/libgit2/libgit2/files/5994845/local.tar.gz)

I'm not sure how useful this is for you since we're using our own smart transport that involves using private keys. I could

[2021-02-17 11:28] ethomson commented on #5799
Q: you said "everything works fine for about 4 sets of references and then the issue occurs"

Tell me more about how you're calling this?  Sounds like it's in a loop.  Is it by chance the same `transport` object each time?

[2021-02-17 13:18] FintanH commented on #5799
Hey @ethomson :wave:

Sure, that was a bit vague so let me expand on that. We represent projects as references that point to blobs of data, for example:
[code]

So when I was talking about 4 sets of references, the node has replicated 4 different projects. When it goes to replicate the 5th project the error shows up.

The replication of a project is set up roughly like:
* Create the remote and con

[2021-02-17 15:08] lhchavez commented on #5799
the numbers 4 and 5 _may_ be red herrings. all that matters is that this exceeds the limit of 32 wants that are written at once, which triggers the second call to `git_pkt_buffer_wants`. i suspect that _that's_ what causing the issue, but i'm still not clear whether the same or a different set of wants should be sent.

observing what the git binary does, it does send some duplicate wants, but i st

[2021-02-17 17:50] ethomson commented on #5799
I don't remember offhand if you can resend wants (I thought not; I thought that you could continue sending `have`s after a delay...) but I don't think it's legal to ever resend wants with a capability header like this.

I'd really have to meditate on what is going on with the smart protocol code; I'm afraid that I've never had an opportunity to dig in to the code very deeply.  But my really naive

[2021-02-17 19:02] kim commented on #5799
Yes. We can obtain an actual transport stream rather cheaply, but want to avoid fetching the refs advertisement multiple times. So a potentially easier fix would be to somehow be able to initialise a `git_remote` handle with a pre-computed set of remote refs (so we don't trigger `git_remote_ls` during negotiation).

I realise protocol-v2 would be more suitable for this kind of usage pattern...

[2021-02-19 00:34] juliombarros commented on #4643
Hi @clacrone were you ever able to solve this?

[2021-02-19 20:59] aaronfranke opened #5803 "Unable to use "git_checkout_index" to discard unstaged changes"
I'm trying to implement a "Discard unstaged changes" button. This operation involves taking the content of the index (the staging area) and setting the files in the working tree to that, which means updating the working tree to match the content of the index. This is what the `git_checkout_index` method is described

[code]

### Reproduction steps

I have a Git repo initialized in a `git_repositor

[2021-02-19 21:06] ethomson commented on #5803
I don't think it would affect the problem but I'm curious: are you speaking to libgit2 directly via C, using an existing binding to a language like .NET, or doing a custom FFI from another language?

[2021-02-19 21:16] aaronfranke commented on #5803
I'm using C directly. I am writing a program in C and I have libgit2 linked as a C library.

[2021-02-19 21:27] ethomson commented on #5803
Thanks - just curious based on your C# work on Godot.  I don't know offhand what the problem might be but I'll try to take a closer look this weekend.

[2021-02-22 04:18] lhchavez commented on #5799
@FintanH or @kim, does the above mentioned PR fix the issue? I suspect it might, but it also still sends some extra haves every now and then. The question is whether those will still cause issues...

[2021-02-22 17:51] FintanH commented on #5799
Hey @lhchavez, sorry about the radio silence. I haven't had the chance to check if the above fixes things for us yet, it's been a busy few days :sweat_smile:

It may take me a few days to get the breathing room to try it out and I'll have to dip into the `git2` bindings to see how I can try out the patch :) But I'll be sure to ping here as soon as I know!

[2021-02-25 13:25] carlosmn opened #5807 "Default USE_HTTP value forces a TLS library to be installed"
### Reproduction steps

Run cmake on a system without any headers for a supported TLS library

### Expected behavior

We would build without HTTPS suport

### Actual behavior

It complains about not finding a HTTPS backend. Additionally the OpenSSL search outputs a message suggesting the error is due to a missing OpenSSL, potentially leading to confusion as can be seen in libgit2/rugged#867

[code

[2021-02-27 17:09] J0Nes90 opened #5808 "git_status_list_new can fail for files greater than 4GB"
When working with bigger files (>4GB) libgit2 fails with "failed to read descriptor: invalid argument" when calling git_status_list_new.
The issue has two aspects:

First, modified_uncertain calls git_diff__oid_for_entry which calls git_odb__hashfd_filtered with entry.file_size from the git index - which is truncated to 32 bits. So for any file exceeding that 32 bit filesize limit this call fails

[2021-02-28 11:27] bearmate opened #5810 "Remaining warnings on Windows amd64 may lead to failing builds"
Pull request #5078 did a great job removing most warnings on Windows amd64. However some warnings in xdiff are still remaining, because they where meant to be fixed together with git itself. As a workaround the files containing the warnings are currently explicitly disabled when compiling with ``/WX`` or ``-Werror`` on Windows.

However these warnings can still lead to failing builds in custom bui

[2021-02-28 20:24] staktrace opened #5811 "Reproducible "unrecoverable internal error: 'delta_is_split(tgt)'" from git_diff_find_similar"
### Reproduction steps

1. Make a temp work dir for reproducing this bug: `mkdir foo && cd foo`
2. Clone the reduced test repository at https://github.com/staktrace/libgit2-bug-find-similar: `git clone https://github.com/staktrace/libgit2-bug-find-similar` (it's "reduced" in the sense that only the two relevant commits are retained, but each probably contains more files than is needed to reproduce

[2021-03-01 01:09] aaronfranke opened #5812 "Inconsistent order of members in git_status_t enum"
### Reproduction steps

Take a look at this code: https://github.com/libgit2/libgit2/blob/main/include/git2/status.h#L34

[code]

### Expected behavior

The expected behavior is that the order of the enum members would be consistent.

### Actual behavior

For `INDEX` the order is `RENAMED` then `TYPECHANGE`, but for `WT` the order is `TYPECHANGE` then `RENAMED`.

Fixing this inconsistency would br

[2021-03-01 20:50] J0Nes90 opened #5813 "skip-worktree flag is ignored for deleted files"
### Issue:
`git_status_list_new` ignores the `skip-worktree` flag for deleted files.

### Reproduction steps:
`git add foo.txt`
`git update-index --skip-worktree foo.txt`
`rm foo.txt`
Observe that `git_status_list_new` reports `foo.txt` as deleted.

### Motivation:
I am looking at sparse-checkout and how to support at least a minimal feature set in libgit2.
First and foremost libgit2 would need a

[2021-03-02 02:28] vchuravy commented on #5726
Turns out our code had a race-condition where multiple workers would trigger a fetch https://github.com/JuliaPackaging/BinaryBuilderBase.jl/pull/120

[2021-03-02 02:28] #5726 closed

[2021-03-02 16:02] A-Ovchinnikov-mx commented on #5751
Any chance to get some help here? 😅

[2021-03-02 17:09] ethomson commented on #5751
Hey @A-Ovchinnikov-mx - sorry for the delay - I've been quite busy both at work and at home.  I'll try to take a look 🔜.  Thanks for your patience.  🙏

[2021-03-03 10:42] A-Ovchinnikov-mx commented on #5751
No worries 🙂 Thanks a lot for the response!

[2021-03-03 11:32] ravivasani75 opened #5816 "No configuration exists for system level for "C:\Program Files\Git\mingw64\etc""
### Reproduction steps
Used libgit2 with vcpkg
### Expected behavior
Should open system level config
### Actual behavior
No configuration exists for system level
I think it is mostly happening when system config is placed at C:\Program Files\Git\mingw64\etc
When path is C:\Program Files\Git\etc, config access is successful
### Version of libgit2 (release number or SHA1)
1.1.0
### Operating system(

[2021-03-03 11:58] ethomson commented on #5816
This is not really a thing that exists on Windows.  There's no such thing as the _system level config_.  Git's "system" configuration is really a "Git for Windows" installation specific configuration.

That is to say that if you install Git for Windows at `C:\Foo` and again at `C:\Bar`, each of those installations will have unique "system configuration"s.

libgit2 has no idea what's going on with

[2021-03-03 12:53] ravivasani75 commented on #5816
Thanks @ethomson
As you mentioned each installation will have unique system configuration, I tried multiple installation of git and figured out that libgit2 uses git itself internally (by looking at systems envs, I think).
But still thing remains same. It can only detect config file placed at Git\etc\ and not Git\mingw64\etc\
Currently, on many Windows systems, config path selected during installa

[2021-03-03 13:00] ravivasani75 commented on #5816
Thanks @ethomson
As you mentioned each installation will have unique system configuration, I tried multiple installation of git and figured out that libgit2 uses git itself internally (by looking at systems envs, I think).
But still thing remains same. It can only detect config file placed at Git\etc\ and not Git\mingw64\etc
Currently, on many Windows systems, config path selected during installat

[2021-03-03 15:27] ethomson commented on #5816
No, we definitely do not.  libgit2 is a complete reimplementation.

We look at environment variables to try to figure out where git *is* but that's so that we can resolve its configuration.

[2021-03-04 06:03] ravivasani75 commented on #5816
OK. I understood the process.
Please handle just path "C:\Program Files\Git\mingw64\etc" if possible, because git installation on some Windows system is using that path for gitconfig.
Thank you.

[2021-03-06 13:31] tompazourek commented on #5696
I have tried this with the current 1.1.0 version I compiled, and it looks like the issue is still there.

[2021-03-09 05:48] asmwarrior commented on #5577
I see some similar post, such as this one: [Teach the library to provide support for partial staging · Issue #195 · libgit2/libgit2sharp](https://github.com/libgit2/libgit2sharp/issues/195), this is in csharp language.

Also, some tools implements its own, such as this: [Fixed issue #2299: Better support the git staging process by tchesftw · Pull Request #233 · TortoiseGit/TortoiseGit](https://git

[2021-03-09 08:18] extrawurst commented on #5577
As an aside: I implemented discarding select lines now In gitui (which uses [git2-rs](https://github.com/rust-lang/git2-rs) wich uses libgit2): https://github.com/extrawurst/gitui/pull/571

it is based off of nodegits implementation

[2021-03-15 09:41] aaronfranke commented on #5803
@ethomson I've been struggling to figure this out for a long time, but I have figured something out, maybe you can help me through it. This code below only discards *staged* files but keeps unstaged files, so it's the opposite of what I want.

[code]

From what I'm understanding, it seems that Git is only comparing HEAD and the baseline, so that Git will know which files need to be updated, and wh

[2021-03-15 11:28] ethomson commented on #5803
Hi @aaronfranke - thanks for the additional information, after reading this I think that I understand more clearly.  (Apologies that I did not, in fact, have time to take a look a few weekends ago.)

By default, checkout will preserve changes in the working directory.  (And if it cannot, it will raise a checkout conflict, preventing you from performing the checkout.)

You can see this on the git c

[2021-03-15 18:39] aaronfranke commented on #5803
@ethomson Thank you! This work as expected:

[code]

Do you agree with me that either this behavior should be the default for `git_checkout_index`, or at least it should be documented and throw an error or warning, and especially don't encourage the user to pass `NULL` for the options? It doesn't make sense to me that a method for updating the working tree isn't allowed to update the working tree

[2021-03-15 18:47] extrawurst commented on #5803
@aaronfranke this non destructive default behaviour is inline with regular `git checkout`

[2021-03-17 09:07] csware commented on #5816
Is this related to #5773?

[2021-03-18 03:16] novalis opened #5822 "git_merge_commits loses submodule conflicts"
### Reproduction steps

I do not have a public repo that can reproduce this, unfortunately, but here's the situation:

I am merging two commits, A and B, using git_merge_commits.  I expect that the resulting index will have a delete/modify conflict on a certain submodule, but I don't see it.   Instead, it simply shows me A's value for the submodule at stage 0.  git.git does correctly give me that

[2021-03-18 16:56] novalis commented on #5822
I guess if this were a normal file, in this sort of criss-cross merge situation, the conflict would have been resolved on both sides (E, F), and probably in the same way. So the merge would hopefully end up with the same object.  Here, that is probably what happened, but the submodule SHAs are different because submodule SHAs are the SHAs of commits and thus include timestamps etc.  That is, a new

[2021-03-19 16:22] myblindy commented on #3053
I just ran into this issue which brought me to this thread. No luck on figuring out long paths yet, eh?

[2021-03-20 10:09] ethomson commented on #5812
Definitely so, and very subtly.  It will break any clients that redefine these numbers as part of their FFI - so .NET, Rust and Node.js to name a few.  I am saddened by this inconsistency but would be much more saddened by introducing a subtle breaking change that clients are unlikely to notice.  I would be slightly more inclined to take this if we actually broke compilation (eg, renamed `WT` to `

[2021-03-20 10:11] ethomson commented on #5816
Aha, yes, indeed it looks like it is.  I'd love to see #5773 updated so that it's not using `wcscat` and friends, and using `git_buf` to construct strings more safely and then turning them into UCS-2 to call the Windows APIs.

[2021-03-20 15:51] csware commented on #5816
@ethomson You took #5773 from my original PR, so it's up to you now.

[2021-03-20 17:10] ethomson commented on #5816
i reopened it because it was automatically closed when we changed default branch names.

[2021-03-21 11:58] csware commented on #5816
I'm not able to handle it at the moment. Also, we deal with wchar_t instead of just char, therefore, using git_buf is not that easy.

[2021-03-21 13:49] Why-not-now opened #5825 "libgit2 not building correctly using latest cmake"
### Reproduction steps
building using cmake 3.19.7
### Expected behavior
Expected to build
### Actual behavior
see picture
![image](https://user-images.githubusercontent.com/81090788/111907159-0d1ea280-8a8f-11eb-859e-65ac5c81201f.png)
### Version of libgit2 (release number or SHA1)
0.28.5
### Operating system(s) tested
Windows

[2021-03-21 16:22] ethomson commented on #5816
No worries @csware - I just meant that I don't have time either right now.  😓

[2021-03-22 11:25] ethomson commented on #3053
I'm locking this issue.  There's work ongoing to implement this and this has just become a thread of pointless "me too!"s.

[2021-03-22 13:43] ethomson commented on #5825
I just upgraded and it works fine for me.  Did this work previously with a different version of cmake and stopped working? Can you provide more information about your environment?  Does it work if you try to build without libssh2 support?

(Please paste text, don't attach screenshots.)

[2021-03-23 07:07] aaronfranke opened #5826 "Add an API for pushing a specific local branch to a specific remote branch"
### Reproduction steps

In libgit2, there is this existing API for pushing to a remote branch:

https://github.com/libgit2/libgit2/blob/508361401fbb5d87118045eaeae3356a729131aa/include/git2/remote.h#L843-L855

This works great for pushing the current branch to its remote. However, there is no version that accepts a specific `git_reference *` to a different branch, and there is no version for pushi

[2021-03-23 07:33] aaronfranke commented on #5803
@extrawurst Yes, you are correct. However, this method does not perform the same thing as `git checkout`.

What is the use case for this method without `GIT_CHECKOUT_FORCE` set? From what I can see, if `GIT_CHECKOUT_FORCE` is not specified, this method just does nothing at all.

[2021-03-23 10:42] ethomson commented on #5803
I don't understand what you mean.  This is true if your goal is to overwrite unstaged changes.  Then, yes, you need to force.  This is precisely like git itself, isn't it?

If your goal is to stage some change and then update the working directory (for example, `git apply --index`) then this is precisely what you would do (and how our git_apply is implemented).

[2021-03-23 11:02] ethomson commented on #5826
That's what the refspecs are for - if you have a single refspec `refs/heads/foo:refs/remotes/origin/bar` then it should create a remote branch `bar` from your local `foo`.

[2021-03-23 11:59] aaronfranke commented on #5826
@ethomson Can you (or someone else on the libgit2 team) add documentation and examples for how to use refspecs? The word "refspec" is only mentioned once in the entirety of the `examples/` folder. I have no idea what a refspec is, the documentation in libgit2 just says "Git refspec attributes", and it's not directly correlated to any high-level concept in git (like a commit or a branch), so I woul

[2021-03-23 12:25] carlosmn commented on #5826
This is not a libgit2 concept, but a Git one and it's described e.g. in https://git-scm.com/book/en/v2/Git-Internals-The-Refspec

NB the refspec above should be `refs/heads/foo:refs/heads/bar` which will create a branch named `bar` on the server rather than a made-up remote-tracking branch.

[2021-03-23 12:42] ethomson commented on #5826
I'd be happy to add more documentation - but yes, it is a core git concept.  You can see these in your `.git/config` and in git's documentation.  (Thanks @carlosmn for correcting my error.)

[2021-03-23 16:13] Why-not-now commented on #5825
I uninstalled perl strawberry and was able to got the output

(btw, this is my 1st time building anything from scratch, so how do I fix/install SSL and libssh2?)

[2021-03-23 20:10] ethomson commented on #5825
The OpenSSL problem is not actually a _problem_.  You (probably) don't want to use OpenSSL on Windows - we'll use the Windows native TLS stack, which is (probably) what you want.  😁

libssh2, on the other hand, is a little trickier.  I don't use it, personally, so I don't have any experience with making the build see it.  Is lack of SSH support a dealbreaker for you?  I ask because it may not be o

[2021-03-23 22:05] Why-not-now commented on #5825
These are the error I have when trying to build a program (fritzing) that uses libgit2

[2021-03-24 08:23] ethomson commented on #5825
I'm not very familiar with this, but you're running into problems in the linking phase of building your executable.  libgit2 uses system libraries like winhttp.  I think that you'll need to specify them in the linking phase.  See, for example https://stackoverflow.com/questions/22954119/linker-error-while-linking-some-windows-apis which is a similar problem.

[2021-03-25 11:02] Why-not-now commented on #5825
@ethomson, do you have a .dll file in your ~/libgit2/Build64/Release file?

[2021-03-25 16:39] Why-not-now opened #5829 "Gotten git2.lib instead of git2.dll"
### Reproduction steps
build with
[code]
with result for `cmake .. -G "Visual Studio 16 2019" -A x64 -DBUILD_SHARED_LIBS=OFF -DBUILD_CLAR=OFF`
[code]
### Expected behavior
be able to find a git2.dll folder
### Actual behavior
git2.lib was produced instead
### Version of libgit2 (release number or SHA1)
1.1.0, 0.28.5 (tested, possibly more with my current setup)
### Operating system(s) tested
Windo

[2021-03-25 16:40] Why-not-now commented on #5829
![image](https://user-images.githubusercontent.com/81090788/112509926-e84a6800-8dcb-11eb-9337-43ce9eb26d60.png)

[2021-03-25 16:46] ethomson commented on #5829
You specified `-DBUILD_SHARED_LIBS=OFF` so you got a static library (`.lib`) instead of a shared library (`.dll`).

[2021-03-25 22:24] Why-not-now commented on #5829
Oh... me dumb

[2021-03-25 22:24] #5829 closed

[2021-03-29 12:22] lrm29 opened #5830 "git_submodule_update should call git_clone__submodule instead of git_clone to omit the path check"
### Reproduction steps

1) Create a repository that has a submodule called "mysubmodule".
2) Change directory to a folder which has a subfolder called "mysubmodule".
3) Clone the main repository and then call git_submodule_update on "mysubmodule".

### Expected behavior

The submodule is initialised and cloned.

### Actual behavior

Unable to clone the submodule with error:
Error code = -4, Error

[2021-04-02 18:35] carlosmn commented on #5258
It looks like this was added in #5307 and #5704  though I suppose the issue right now is libssh2 going away from some distros.

[2021-04-02 18:35] #5258 closed

[2021-04-02 18:48] carlosmn commented on #4452
It looks like this was added in #5307 and #5704

[2021-04-02 18:48] #4452 closed

[2021-04-06 09:36] gfollic commented on #5557
Hi,
Same issue here:
LibGit2Sharp.LibGit2SharpException : unknown certificate check failure
at LibGit2Sharp.Core.Ensure.HandleError(Int32 result)
at LibGit2Sharp.Core.Ensure.ZeroResult(Int32 result)
at LibGit2Sharp.Core.Proxy.git_clone(String url, String workdir, GitCloneOptions& opts)
at LibGit2Sharp.Repository.Clone(String sourceUrl, String workdirPath, CloneOptions options)

Completely random.

[2021-04-11 17:19] carlosmn commented on #5799
That output doesn't just show multiple wants, it's the start of the negotiation including the capabilities. The change in https://github.com/libgit2/libgit2/issues/5799#issuecomment-780258128 would avoid adding the capabilities, it would still enqueue the wants twice, which puts it where the protocol doesn't allow it.

I think we've changed our mind a few times about how much we expect you to re-u

[2021-04-11 19:52] kim commented on #5799
We use a custom transport, which is set up as stateless, so it seems fair to assume that it would behave as such.

We now know that it doesn’t, and as I said, we also knew that the v2 protocol is better suited to what we do. Since we also need more control over what’s happening than a high-level fetch, we’re looking into implementing v2 ourselves (sidestepping libgit2’s transport API).

Feel free

[2021-04-14 11:47] ethomson commented on #5825
I had a dll for 1.1.0.  I did not try this with 0.28.5 since that's over two years old and quite out of our support matrix.

Closing this, since based on another issue, it looks like you were able to get your build going.  LMK if not!

[2021-04-14 11:47] #5825 closed

[2021-04-19 21:34] cjolowicz opened #5844 "Cloning with remote callback results in HEAD pointing to user's init.defaultBranch"
Cloning with a remote callback results in HEAD pointing to the user's `init.defaultBranch` instead of the default branch of the cloned repository.

### Reproduction steps

This uses pygit2, I haven't found time yet to reproduce this natively, sorry. It doesn't look like the cause is within pygit2. The downstream bug is https://github.com/libgit2/pygit2/issues/1073.

I'll also note that `HEAD` alre

[2021-04-21 02:05] aaronfranke commented on #5228
I know this issue is old and closed, but I'd like to revive this issue, because another option has become available.

[Rocket.Chat](https://rocket.chat) is an open source chat platform that is similar to Slack. It can either be self-hosted, on a server libgit2 hosts, or you can pay them to host. Compared with Slack, it is open source, and shares many features, including text channels, threading, d

[2021-04-25 10:17] serg-vinnie commented on #3456
lol, probably this won't be fixed in nearest time :D

[2021-04-29 08:45] Vesemir opened #5851 ""Assertion failed path && path_out" in src/path.c while trying to rename reference on custom refdb repo without commonpath set"
Hello

### Reproduction steps
1. Try to use a custom backend implementing refdb without filesystem e.g.

[code]

2. Implement `rename` method of `struct git_refdb_backend` for refdb_backend as required in documentation.
3. Try to rename a reference (deleting and recreating a reference pointing to the same oid works fine).

### Expected behavior
Reference gets renamed and all is fine.

### Actual b

[2021-04-29 16:10] FintanH commented on #2957
Hey @swisspol :wave:

We just ran into this issue as well, where references were getting updated to old commits. We have a reproducible case, however, it uses `git2` (the Rust wrapper).

We're definitely be interested in seeing if this is intentional as well. Looking around we couldn't see if `refspec->force` was used anywhere else in the codebase other than the `refspec` file itself.

[2021-05-05 12:12] lolgear opened #5856 "Invalid check for availability of futimens function for macOS platform"
### Reproduction steps
Open src/unix/posix.h

### Expected behavior
Everything works fine.

### Actual behavior
Xcode warning: `futimens` is only available for macOS 10.13 or newer.
I build it for a project with minimum deployment target 10.10.

### Version of libgit2 (release number or SHA1)
Latest master.

### Operating system(s) tested
macOS 10.16
Xcode 12.5

[2021-05-05 14:34] ethomson commented on #5856
What version of cmake?  It [claims to honor the deployment target version](https://gitlab.kitware.com/cmake/cmake/-/issues/17101) for `futimens`

[2021-05-05 15:49] lolgear commented on #5856
I use Cmake 3.20.2 (Homebrew installed)
I run

[code]

Open Xcode 12.5 and build git2 target.
Xcode complains about `futimens`.
Maybe project settings are wrong in Xcode.

[2021-05-06 00:42] ethomson commented on #3053
@ianhattendorf has added longpath support, and it is now available in `main`.  🎉

[2021-05-06 00:42] #3053 closed

[2021-05-11 12:14] jairbubbles commented on #2263
Looks like there is a PR on the subject: #5833

[2021-05-11 13:28] lolgear commented on #5856
Could you confirm that my test by Xcode project is relevant?

[2021-05-12 12:43] CapinWinky opened #5862 "There seems to be an issue with repositories using core.worktree."
I recently tested numerous major Windows git GUIs and found that of the 10 tested, only Git Extensions correctly handled a repository that used `core.worktree` to move the main working tree outside of the repository path. It was suggested to me that the other GUIs may all be users of libgit2 and that the fault may lie with this implementation.

More detailed information can be found in my reddit p

[2021-05-12 14:04] #5862 closed

[2021-05-12 14:08] #5864 closed

[2021-05-12 14:10] #5866 closed

[2021-05-12 14:10] #5867 closed

[2021-05-12 14:10] #5868 closed

[2021-05-12 14:10] #5869 closed

[2021-05-12 14:11] #5870 closed

[2021-05-12 14:11] #5871 closed

[2021-05-12 14:11] #5872 closed

[2021-05-12 14:11] #5873 closed

[2021-05-12 14:11] #5874 closed

[2021-05-12 14:11] #5875 closed

[2021-05-13 18:03] #5811 closed

[2021-05-15 02:44] githubnew-pro commented on #5555
#5886 #5815

[2021-05-15 02:44] githubnew-pro opened #5887 "#5886 #5815"
#5886 #5815

_Originally posted by @githubnew-pro in https://github.com/libgit2/libgit2/issues/5555#issuecomment-841587779_

[2021-05-15 02:45] githubnew-pro commented on #5887
#5555

[2021-05-16 09:46] githubnew-pro opened #5888 "> Paypal"
[]()@githubnew-pro

_Originally posted by @githubnew-pro in https://github.com/rust-lang/mdBook/issues/1536#issuecomment-841793366_

[2021-05-16 10:16] #5887 closed

[2021-05-16 10:26] #5888 closed

[2021-05-16 11:19] lolgear opened #5889 "[Submodule] Missing retain function"
I guess that I'm wrong and you could tell an API function for this, but...
If I would like to iterate over submodules and convert them to my objects, I need a retain function.

[code]

[code]

### Reproduction steps

1. Iterate over submodules.
2. Callback will return an instance of submodule.
3. After iteration it will release instance of submodule.

### Expected behavior
Instance isn't freed. (

[2021-05-16 17:26] ethomson commented on #5889
I can see the value here. To match with prior art, this function should be `git_submodule_dup`. (It would simply refcount and return itself behind the scenes, not actually make a copy.)

[2021-05-17 12:31] tiennou commented on #5856
I can confirm that something is fishy, here's the [output](https://travis-ci.org/github/libgit2/objective-git/jobs/771143695#L1510) from a run of libgit2/objective-git), that builds with `SDKROOT\=/Applications/Xcode-12.2.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX11.0.sdk` and `MACOSX_DEPLOYMENT_TARGET\=10.10`.

[2021-05-17 13:10] lolgear opened #5891 "What is the correct way to generate Xcode project?"
I guess that `CMakeLists.txt` is either broken (no) or it doesn't respect files locations.

I run the following script.

[code]

Everything may be fine except one thing.

`features.h` has location

[code]

I suspect that it should be `../git2/sys/features.h` (it should be populated in a `libgit2/git2` directory).
Maybe I'm wrong and I only need to pass one parameter to cmake, for example.
However,

[2021-05-17 16:44] ethomson commented on #5891
Yes, this is where cmake places generated files.

We want to keep files that are generated as part of the build process isolated in the build directory.  When you run `make install`, this will be placed in the appropriate place, but it won't clutter up the source directories in the meantime.

[2021-05-17 17:08] lolgear commented on #5891
Could you add this information into Readme?

[2021-05-19 12:16] gfollic commented on #5557
@jakissel Did you manage to fix the issue ?
Had to switch to windows 10 instead of Windows 2016 server to solve the issue.

[2021-05-19 14:10] lolgear commented on #5889
@ethomson Could you check mentioned PR?

[2021-05-20 08:37] tslothorst opened #5894 "PCRE dependency not present in build"
I'm using libgit2 in a Visual Studio C++ project. When I build my project there are no problems, everything compiles and links just fine. However when I launch my executable I get an error stating pcre.dll is not found:
![image](https://user-images.githubusercontent.com/56511738/118946677-ec6fad80-b956-11eb-8caf-c082f9cc2c61.png)

This .dll is indeed missing in the build output directory. The git2

[2021-05-20 10:00] ethomson commented on #5894
It shouldn't.  We don't built `pcre.dll`; you can either build and link against an existing pcre, in which case you supply the headers and the library yourself, *or* you can use the included pcre, in which case the functionality is built in to libgit2 and there's no separate pcre library produced.

It looks like you're building against an existing pcre but your executable can't find it.  Can you s

[2021-05-20 10:14] ethomson commented on #5894
Sorry, I missed this part.  I don't know enough about how vcpkg works to understand how or why it should include pcre but we don't produce the vcpkg packages so this is unfortunately not something that we control ourselves.

[2021-05-20 11:12] tslothorst commented on #5894
Thank you for your quick reply.

I have in this project no need myself for `pcre.dll` to be present, my own code doesn't use anything from this library.

I'm not using Cmake for this project, it's a Visual Studio solution `.sln`/'.vcxproj'. However I'd be happy to give it a try with Cmake. Could you provide me with the targets I need to put in `find_package()` and `target_link_libraries()` for lib

[2021-05-20 16:37] PaulDance commented on #2836
@ethomson maybe?

[2021-05-21 09:38] ethomson commented on #5894
Sorry, I originally thought that you were compiling libgit2 yourself and was asking for the cmake options you were using to build libgit2.  (I wasn't suggesting that you switch over to cmake for your project.)

I don't know enough about vcpkg to understand this, but it seems like there's definitely a problem here.  If you have the libgit2[pcre] feature, I would expect you to get pcre.dll in your o

[2021-05-21 10:36] anatoly-spb commented on #5332
+1 https://gitlab.com/tortoisegit/tortoisegit/-/issues/3749

[2021-05-26 08:12] lyxell opened #5895 "Using set(REGEX_BACKEND builtin) builds git2internal twice"
### Reproduction steps

[code]

### Expected behavior

The second call to `cmake .. && cmake --build .` recognizes that nothing has changed and does not rebuild any files.

### Actual behavior

The second call to `cmake .. && cmake --build .` rebuilds `git2internal`.

This only happens when `REGEX_BACKEND` is set to `builtin`.

### Version of libgit2 (release number or SHA1)

Tried on:

* 1ee3c37f

[2021-05-26 08:32] ethomson commented on #5894
If you add a dependency on pcre as a workaround, does this work?

[2021-05-26 11:11] tslothorst commented on #5894
I've added pcre in my vcxproj settings as an additional dependency, however this does not cause pcre.dll to be created. Most likely because it's still deemed as not needed. I'm looking now into adding a bit of code that goes nowhere, but which uses something from `pcre.h` so the proper .dll will be generated when building the project.

[2021-05-27 07:48] lolgear commented on #5856
I posted a question about this issue at [CMake](https://discourse.cmake.org/t/how-to-properly-configure-cmake-script-to-run-with-osx-deployment-target-10-10/3395) forums.

And at one moment I figured out that I do something wrong.
I compared generated `.c` file and a file that is proposed in a CMake [futimens](https://gitlab.kitware.com/cmake/cmake/-/issues/17101) issue.

They are different. Gener

[2021-05-28 01:45] cfanz commented on #5556
Hi, all, I encountered this problem too when using CephFS as backend storage. But, finally, I found this can be solved by set fuse_default_permissions = true which means using fuse's permission check mechanism instead of CephFS. So I think this should be a problem of the filesystem, not libgit.
I abstract the problem as codes below, which can be tested whether the file system is OK for libgit. Com

[2021-05-30 17:54] rralf opened #5899 "Error -1/5: error inflating zlib stream (Reproducer included)"
Hi,

I posted the following bugreport first for pygit2, and it turned out to be a bug of libgit2. Check out my previous bug report here:
https://github.com/libgit2/pygit2/issues/1076

### Reproduction steps

Try to test the following code on this repo
$ git clone https://lore.kernel.org/netdev/0

[code]

### Expected behavior

Successful execution

### Actual behavior

Error -1/5: error inflating

[2021-05-31 02:20] lhchavez commented on #5899
duplicate of #5590 (meaning: this is fixed on the tip-of-tree `main` branch)

[2021-05-31 02:20] #5899 closed

[2021-05-31 10:44] rralf commented on #5899
Thanks for pointing to the duplicate!
Will there be a new Release soon? This Bug has been present since a long while.

[2021-05-31 21:56] MikeJerred opened #5901 "Remove section from git config"
There is no way to remove entire sections from a git config, i.e. to replicate `git config --remove-section submodule.foo`

[2021-06-01 03:01] ericonr commented on #5590
@ethomson I believe this issue can be closed?

[2021-06-01 03:08] ericonr opened #5902 "Make a new release"
Hi!

For distribution purposes, we appreciate having proper upstream releases to package, but since the 1.1.0 release, there have been some important bug fixes (like #5745), which are update blockers unless we patch the package locally. To avoid duplicating the labor of everyone procuring patches themselves (and tracking down bugs), it would be nice to have a bug fix release for libgit2.

As a sid

[2021-06-02 12:49] ethomson commented on #5902
Hi @ericonr!

I've been wanting to do a 1.2.0 🔜 - there are a few things to review and merge that I've been waiting for, and I've been busy at home with a new 👶.

I don't mind doing a 1.1.1 in the meantime.  What other bug fixes would you want to see in that release?

I notice that rust libgit2-sys has just updated to a newer commit on the main branch.  This certainly seems like a reasonable appro

[2021-06-02 15:36] pluehne opened #5905 "Broken pipe error while pushing over HTTPS"
When pushing to repositories using the HTTPS protocol, we sporadically observed an issue where `git_remote_push` fails with a `SIGPIPE`. When using the Rust wrapper `git2-rs`, the error message reads as follows:

While debugging this issue, we noticed that it can be reliably reproduced when pushing the `master` branch of https://github.com/algolia/docsearch-configs to an empty repository over HTTP

[2021-06-03 11:21] mad8vad opened #5907 "Add git_tag_extract_signature"
Something like git_commit_extract_signature() except searching for field because git writes signature right after tag's body

[code]

[2021-06-03 11:28] tiennou commented on #5905
I gave a spin to that (macOS 10.15.7/`pr/5904`, with OpenSSL as the HTTPS backend), made myself a new PAT, enabled tracing at `GIT_TRACE_TRACE` level, ran the provided command, and got the described issue.

I'm attaching the log of my lldb session, and it seems to confirm that, by the time we start sending data, the server has already timed out on us (there's no "Received:" line after the initial

[2021-06-05 07:32] ericonr commented on #5902
Hope it's being fun, enjoy :)

I traipsed through the issues in this repo, couldn't find anything else as important. I would appreciate a 1.1.1 release.

From a distro standpoint we want to be able to delegate the "update point" to upstreams instead of having to track changes ourselves. If we had to choose the "update point" for every package, we'd quickly go mad :)

Releases let us know that not

[2021-06-07 11:59] pde-cds commented on #5902
#5857 would be nice for a 1.1.1 or 1.2.0

[2021-06-11 08:12] dokutoku opened #5909 "Add libgit2-d to the list of bindings"
There is libgit2-d in the D language library, so you can add it to the list.

https://gitlab.com/dokutoku/libgit2-d

[2021-06-15 15:21] supersv opened #5911 "Clone via SSH blocks in recv() - but only on Windows"
I have a piece of code that uses `git_clone()` to clone a repo from an SSH server. When running on macOS 11, everything works as expected. However, when running on Windows 10, after libgit2 establishes connection to the SSH server and starts talking to git-upload-pack, the worker thread just blocks upon `recv()` in libssh2's `_libssh2_recv()` from `src/misc.c`.

libssh2 is using WinCNG on the Wind

[2021-06-16 13:59] lolgear opened #5914 "[macOS] Security framework. SecureTransport header is deprecated. Project build failed."
I am very curious why current master doesn't build well on macOS 11.4.
I read logs carefully ( well, I read them ) and I noticed that it fails at `SelectHTTPSBackend.cmake`.
Interesting line is `Looking for SSLCreateContext`, because Security framework is considered old at this step.
`SSLCreateContext` is not found in latest `Security.framework`. ( somehow )

Let's look at this function at apple [

[2021-06-18 22:44] arxanas opened #5918 "`git_transaction_commit` doesn't tell you which reference update failed"
The documentation for `git_transaction_commit` says:

Firstly, it doesn't make any claims about the atomicity of this operation (specifically, if the previous updates are rolled back in the event of an error), but the Rust `git2` documentation says:

This means that you can't e.g. call the `reference-transaction` hook for the repository with the list of reference transactions that actually succeed

[2021-06-19 01:05] Twelvesuns opened #5919 "MOI"
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
<link rel="icon" href="/favicon.ico">
<link rel="mask-icon" href="/apple-logo.svg" color="#333333">
<title></title>
<link href="/tutorials/css/documentation-topic.e4472ae9.css" rel="prefetch">
<link href="/tutori

[2021-06-19 11:48] #5919 closed

[2021-06-20 11:54] boretrk opened #5920 "iter_load_loose_paths generates paths with empty segments"
`iter_load_loose_paths()` appends a '/' on `backend->commonpath` in all cases.
`setup_namespace()` generates a `commonpath` without trailing '/' only if `repo->namespace` is set.

### Reproduction steps
Print paths from p_open/p_creat/p_stat/p_lstat or apply the following diff:
[code]
Run `git_reference_foreach()` in a repository without namespaces (Or `build/examples/lg2 for-each-ref`)

### Expec

[2021-06-20 15:50] ethomson commented on #5902
That will land in v1.2.0 - in fact, it will be the most important part of v1.2.0, in my opinion.  But it's much too massive a change to bring into a point release.

I've opened #5921 for a v1.1.1 in the meantime.

[2021-06-21 17:40] syrel opened #5923 "duplicate symbol: _libssh2_wincng when compiling with Clang using Visual Studio"
Building `libgit2` v 1.1.0 with embedded `libssh2` v1.9.0 on Windows with Clang fails with `duplicate symbol: _libssh2_wincng`.

### Reproduction steps

[code]

However, if compiled with the `msvc` compiler, the build passes:
[code]

So it has something to do with the fact that Clang is used. Using absolute path in `EMBED_SSH_PATH` produces the same result.

### Expected behavior
Build succedes
##

[2021-06-22 05:37] patrickdevivo commented on #5556
I was encountering pretty much this same issue (https://github.com/libgit2/git2go/issues/194#issuecomment-865611331) and the patch @0xdky was able to resolve it (https://github.com/askgitdev/libgit2/commit/7f102fe38a425a28a7c96262a50d7b5fa60569d0)

[2021-06-23 02:39] personalizedrefrigerator commented on #5808
I would like to link this issue to #4230!

[2021-06-23 02:40] personalizedrefrigerator commented on #4230
I would like to link this issue to #5808!

[2021-06-23 16:42] lolgear opened #5927 "Update Contribution notes."
I'm very proud to be a part of this community (I wish I'm a part of this community), but I don't understand a PRs merging process.

Some of these PRs are 3 years old. ( Yes, they soon will go to kindergarten ).
However, it seems that they've never met a main branch.

Could anybody at this community write a note about "how to" make a correct PR which will be merged into a main branch?
I opened seve

[2021-06-24 15:16] saurabh-deep commented on #5294
This is causing issues for us also. When the connection drops in the middle of `git clone` it just hangs and you have to kill the process.

 Hey @ethomson! Are there any plans to look into this one?

[2021-06-25 19:54] ethomson commented on #5927
Yep, that would be great!  Projects often have many users, a few contributors and very few people who take the time to code review.  A project needs all of these types of collaborators, but the project velocity will, unfortunately, slow down a bit when the code reviewers get busy.  For my part, I've been needed at home with a new baby 👶 and moving the family to another country 🏠🚚🌎✈️.

I appreciate

[2021-06-30 18:42] ethomson commented on #5902
libgit2 v1.1.1 is released!  https://github.com/libgit2/libgit2/releases/tag/v1.1.1

[2021-06-30 18:42] #5902 closed

[2021-06-30 19:49] ericonr commented on #5902
Much appreciated :)

[2021-07-01 13:46] mad8vad opened #5933 "Wrong .git in submodule inside submodule"
libgit2 v1.1

When submodule contain another submodule there is some problem in update
git_submodule_lookup/git_submodule_init both returns 0

If do git_submodule_update files checked out but content of .git file is wrong
If manually fix it log/status/etc works

Test repo https://github.com/mad8vad/libgit2_test

[code]

[2021-07-01 15:13] ethomson commented on #5933
Sorry - your example shows git commands but I don’t understand the interaction with libgit2 yet.  What are the exact libgit2 functiond that you’re calling in this example and when?

[2021-07-01 15:23] mad8vad commented on #5933
Sorry for inconvinions, these git commands are actually my libgit2 implementation. I wanted to show that on first level module all works good, but on second not all

init is
[code]

and update
[code]

[2021-07-02 07:23] mad8vad commented on #5933
I've added traces to git_path_make_relative()
Very begin
[code]

Before return 0 at the end
[code]

[2021-07-02 09:10] mad8vad commented on #5933
The problem is in realpath() on my platform

[2021-07-02 09:10] #5933 closed

[2021-07-02 18:11] FFY00 opened #5934 "`CMAKE_BUILD_TYPE` should not get overwriten if empty"
[As documented](cmake.org/cmake/help/v3.21/variable/CMAKE_BUILD_TYPE.html), `CMAKE_BUILD_TYPE` being empty is a valid value with its own behavior (do not touch the compile flags, just use the `CFLAGS`/`CXXFLAGS`/etc specified in the environment). libgit2 is overwriting the option to `Debug` if empty, changing the expected behavior.
Would it be possible for you to consider removing this?

https://g

[2021-07-05 13:11] supremestdoggo commented on #3845
I think this is more of a VirtualBox issue than a libgit2 issue.

[2021-07-07 02:04] NattyNarwhal opened #5939 "long long is not standards-compliant C89"
There's some usage of "long long" in libgit2, which aims for C89. Thankfully, the usage is limited:

[code]

The reason it's a problem is because it's actually a [GCC extension](http://gcc.gnu.org/onlinedocs/gcc-4.3.4/gcc/Long-Long.html) before C99. In my situation, this is was because I was compiling with a compiler that *didn't* support them. Said compiler is VC++6, which instead uses `_int64`.

[2021-07-07 02:38] lhchavez commented on #5556
_maybe_ we can try doing something along the lines of reimplementing a variant of [`mkstemp(3)`](https://man7.org/linux/man-pages/man3/mkostemp.3.html) that allows the [`open(2)`](https://man7.org/linux/man-pages/man2/open.2.html) call to receive the intended mode from the get-go. that way there is no `chmod`/`fchmod` call at all!

[2021-07-07 03:10] lhchavez commented on #5556
can someone with NFS give this patch a try?

[code]

[2021-07-07 13:52] NattyNarwhal commented on #5939
I'm working on a branch for cleaning this up. The trickier part is finding all the `LL` constants and converting them to `INT64_C`.

[2021-07-11 04:50] kcsaul commented on #5851
Following attempt to update to the latest version, I've encountered the same assertion with the use of a custom odb/refdb, but in the context of cloning rather than renaming references.  In my scenario, clone is calling git_branch_checked_out indirectly as part of deciding whether head references can be updated.  Prior versions of this would use git_repository_is_bare to check before git_repositor

[2021-07-11 06:44] kcsaul commented on #5851
To support the use of custom odb/refdb with no filesystem, I wonder if the bugs referred to can be fixed by changing git_repository_foreach_worktree to use the git_repository supplied rather than attempting to re-open repo->commondir, and adjust git_worktree_list to return an empty list when repo->commondir is null.

[2021-07-16 12:47] #5939 closed

[2021-07-17 18:10] NattyNarwhal opened #5947 "Varadic macros are a C99 feature"
`src/trace.h` uses varadic macros, which are a C99 feature:

[code]

This should probably be changed to a wrapper function for non-C99 compilers.

[2021-07-18 10:12] Whirlwind opened #5949 "[Feature Request] support `--no-checkout` for `git_worktree_add`"
`git worktree add [Path] --no-checkout` will allow user skip checkout the files.

In the libgit2, it will force checkout the files, and there is not option to skip it.

I hope the `git_worktree_add_options` add the `checkout` option.

[2021-07-19 20:38] ethomson commented on #5949
This seems like a good idea.  Naively, I suspect that this is an easy fix, so I've added that label.  This seems like a good first issue for a [new contributor](https://up-for-grabs.net/#/filters?names=508)!

[2021-07-21 15:14] Jagroop-Singh commented on #5949
Hey there, I'll grab this one

[2021-07-22 03:13] Whirlwind commented on #5949
I try to add the feature for my project:
[code]
But, I found that everything is deleted in the stage, not the unstaged. I don't know how to keep them in the unstaged ( not in the index).

[2021-07-22 20:51] #5947 closed

[2021-07-26 11:07] PromyLOPh commented on #3733
This still seems to be the case for v1.1.

I have the opposite problem using the libgit2-backed pygit2. It honors git’s recorded file permissions (`0644` minus umask `0007`) and creates files with mode `0640`, even though I set `sharedRepository = group`. The expected mode here would be `0660`. `git pull`/`git checkout` correctly honors this setting.

[2021-07-26 20:17] ethomson commented on #3733
This feels like a great place for a new contributor to jump in so I added some labels to encourage that.  😁

[2021-07-27 21:16] mkitti commented on #3866
Almost five years later and Julia is still having to apply this patch out-of-tree

[2021-07-27 21:21] extrawurst commented on #3866
what patch? I don't even see a PR?

[2021-07-27 21:30] mkitti commented on #3866
It is more of a workaround than a fix:
https://github.com/JuliaLang/julia/pull/17459#issuecomment-312042758

@Keno 's workaround patch is here:
https://github.com/JuliaPackaging/Yggdrasil/blob/master/L/LibGit2/bundled/patches/libgit2-agent-nonfatal.patch

[2021-07-28 11:40] PromyLOPh opened #5955 "Missing permissions after checkout"
When checking out files with libgit2 using a non-standard umask (for example `007`) files and directories lack write permissions for the group. The same is true for umask `000`, which does not grant write-permissions others.

### Reproduction steps

You can run the following script to compare git vs libgit2:

[code]

This is `checkout.py`:
[code]

The output is (left is git, right libgit2)
[code]

[2021-07-28 18:50] kbrock commented on #4897
I think this error is due to not having privilege to read the directory vs the directory not existing

[2021-07-30 14:50] lolgear opened #5960 "[Config] git_config_find_local is missing."
Function `git_config_find_local` is missing.
Is there any decisions why it is not presented in public API?

I can see private `repo_local_config`.

However, I can't find simple `git_config_find_local`.

[code]

[2021-07-30 15:42] ethomson commented on #5960
The `git_config_find_` functions are concerned with finding a singular config for the system.  That is to say, `git_config`s don't have a repository.  `git_repository`s have a config.

I think that you're looking for `git_repository_item_path`

[2021-07-30 20:55] alexandre1985 commented on #5949
how is the progress @Jagroop-Singh ?
I also want to grab a newbie coding issue....

[2021-07-30 21:10] Jagroop-Singh commented on #5949
@alexandre1985 You can go ahead, I've looked at the code of git/git and no dice on where the code is. I've tried recursive listing with cat, and grepped for the relevant keywords, and following the code has led me in circles.

[2021-07-30 21:11] Jagroop-Singh commented on #5949
I couldn't find where the logic for --no-checkout exists

[2021-07-30 21:12] alexandre1985 commented on #5949
@Jagroop-Singh I am also stuck there.... 🤔

[2021-07-31 08:16] lolgear commented on #5960
Yes, I see.
I'm trying to revive old branch from another OpenSource client.
Issue can be closed.
Thanks!

[2021-07-31 15:53] ethomson commented on #5949
Looking at this: https://github.com/libgit2/libgit2/blob/e65229ee972c113413eeca77853213352129bd47/src/worktree.c#L406

The way that I would approach this problem is to extend `git_worktree_add_options` to include `git_checkout_options`.

You can look at other functions (like merge) to see this.

[2021-07-31 16:18] alexandre1985 commented on #5949
what is GIT_INIT_STRUCTURE_FROM_TEMPLATE() ?

[2021-08-01 09:59] mikasoukhov opened #5967 "git_remote_fetch returns -1 for token-based clones"
The issue related to that one https://github.com/libgit2/libgit2sharp/issues/1898

As I've investigated, the following code for token-based URLs returns -1

### Reproduction steps

int res = NativeMethods.git_remote_fetch(remote, ref array.Array, fetchOptions, logMessage);
Ensure.ZeroResult(res);

### Expected behavior

res == 0

### Actual behavior

res == -1

### Version of libgit2 (release numb

[2021-08-01 11:07] ethomson commented on #5967
What's a "token based url"?  Do you have repro steps against libgit2 (not LibGit2Sharp)?

[2021-08-01 11:43] mikasoukhov commented on #5967
Token-based urls - https://stackoverflow.com/a/66156992

Do you have an example for git_remote_fetch? Can try directly.

[2021-08-01 13:35] mikasoukhov commented on #5967
DIrect call of libgit has the same issue

[code]

Output as

[code]

Can create test repo with an access token url (if need).

[2021-08-01 20:29] mikasoukhov commented on #5967
Checked on https://github.com/libgit2/libgit2/releases/tag/v1.1.1 - same behavior. Seems from some period libgit2 stopped support access tokens.

[2021-08-02 13:27] ethomson commented on #5967
This looks like you're still using LibGit2Sharp:

[code]

LibGit2Sharp has a custom https transport layer, which may be the culprit here.

libgit2 tests clones with username and password inside a URL: https://github.com/libgit2/libgit2/blob/main/tests/online/clone.c#L430 - however the other variable is that we're testing clone, not loading a remote on-disk and doing a fetch.

My questions would be

[2021-08-02 14:10] mikasoukhov commented on #5967
1) No, I copied DLL import code into my project and leaved only necessary code. It is pure C# without any dependencies. Can share if need.

2) The thing is token based urls do not contains any credentials (except them self) and do not required any login and password. Maybe I can create some url for you and you need for reproduce on your environment?

[2021-08-02 14:38] ethomson commented on #5967
Okay, good to know.

Right, sorry - to be clear, I was talking about the token as the username/password.  From an http perspective, that's just a username and password even though it's a token, not your actual username and password.

I suspect that we're only handling username/password in a URL when both are specified - so I would expect `https://user:token@github.com/name/repo` to work.  But I su

[2021-08-02 15:08] mikasoukhov commented on #5967
The url [https://user:token@github.com/name/repo](https://user:token@github.com/name/repo) is exactly what I try to use.

Did you try fetch remote with url like that?

[2021-08-02 15:33] ethomson commented on #5967
Not fetch, only clone.

[2021-08-03 19:13] lolgear opened #5969 "[CMake] ntlmclient. Headers for common crypto are excluded in Xcode target."
Too many words for simple

https://github.com/libgit2/libgit2/blob/e65229ee972c113413eeca77853213352129bd47/deps/ntlmclient/CMakeLists.txt#L8

You may see that there is no clue of included headers at this common crypto condition branch.
Even more, there is no clue whether unicode is handled via `_builtin` or `_iconv`.

I don't understand what is going on (which headers are included or not), becaus

[2021-08-03 21:49] ethomson commented on #5969
In particular, they're getting defined in https://github.com/libgit2/libgit2/blob/main/cmake/SelectHTTPSBackend.cmake - the `ntlmclient` project is a bit odd.  I wrote it, basically for libgit2's use, but I wanted to make it able to standalone as well.  That's why it's in `deps/` but also just uses our configuration.

[2021-08-03 21:56] lolgear commented on #5969
But I still don't understand which headers it uses.
I see a lot of includes in `ntlm.c` ( in Xcode project navigator ).
However, headers are missing.
I'm a bit confused why it doesn't contain headers in target. ( They are visible, of course, via HEADERS_SEARCH_PATH flag ), but they are not listed as headers in target.

For example, `http-parser` contains both `http_parser.c` and `http_parser.h`.
I

[2021-08-03 22:06] lolgear commented on #5969
`ntlm.c` includes

[code]

so these headers should be added to a Xcode target.

This change is a try to understand which headers are required by ntlmclient since it contains different implementations of crypto-backends.
Also this change will not affect ( should not affect ) a build and only a cosmetic change ( add proper headers to a target in CMakeLists.txt )

[2021-08-03 22:07] ethomson commented on #5969
If I'm understanding what you're saying, the lack of `.h` files in ntlmclient's cmake definition is probably an oversight.  If we're not listing the `.h` files in `ADD_LIBRARY` or `TARGET_SOURCES`, then that should still compile properly, but it may not list the files properly in the IDE definitions.  From [this helpful blog post](https://crascit.com/2016/01/31/enhanced-source-file-handling-with-t

[2021-08-03 22:13] lolgear commented on #5969
Interesting, I've found another part of deprecated source?

https://github.com/libgit2/libgit2/blob/e65229ee972c113413eeca77853213352129bd47/deps/ntlmclient/CMakeLists.txt#L1

No chance that unicode_iconv.c will be chosen.

[2021-08-03 22:25] ethomson commented on #5969
Ah, interesting.  If I were to do it over again, I would probably look at the `GIT_USE_ICONV` flag that we use elsewhere.  iconv is basically a requirement on macOS to deal with Unicode path canonicalization (`core.precomposeunicode`).  But that's probably not a huge deal.  🤔

[2021-08-03 22:45] lolgear commented on #5969
Maybe it is better to separate parameters and pass them from libgit2 CMakeLists.txt to internal `ntlmclient` CMakeLists.txt? ( If CMake supports parameters for CMakeLists-intercommunication ).

[2021-08-04 11:26] mikasoukhov commented on #5967
Will you check it?

[2021-08-05 06:11] carlosmn commented on #5967
A clone and a fetch are the the same network-wise. There is no specific token support anywhere in git or curl or anything else. These tokens for e.g. GitHub are what you use instead of a password. Your comment

suggests you're misunderstanding what these tokens are.

Have you tried specifying your username and token like specified in the documentation, e.g. at the end of https://docs.github.com/en

[2021-08-05 10:30] mikasoukhov commented on #5967
Here is the example (I've already posted it above) - https://stackoverflow.com/a/66156992

[2021-08-05 10:30] mikasoukhov commented on #5967
I think you can just try to run the test and you will get the error.

[2021-08-05 12:10] ethomson commented on #5967
Everything you're pointing to is documentation about presenting the token as a username with no password - in other words `https://token@github.com/name/repo` instead of `https://user:token@github.com/name/repo`.

Like I said, we have many tests around `https://user:pass@host/path`.  And yes, like I said, I tested this.

And I suspect that the problem is that we're not parsing `https://something@h

[2021-08-05 12:11] mikasoukhov commented on #5967
I use that type of URL

[](https://user:token@github.com/name/repo)

Only that and no any other formats.

[2021-08-05 12:12] ethomson commented on #5967
What does your remote configuration look like?

[2021-08-05 12:13] ethomson commented on #5967
Yes.

[2021-08-05 12:14] mikasoukhov commented on #5967
Possible to share (upload) a new test code? To reproduce on my environment.

[2021-08-05 12:20] ethomson commented on #5967
Like I said, we have tests for this.  Here's the extraction of one of them:

[code]

[2021-08-05 12:24] mikasoukhov commented on #5967
Let me try to check everything.

[2021-08-05 12:39] ethomson commented on #5967
Thanks - let me know what you discover.  It's clear that `https://token@host` is not supported, but if there are other problems, I cannot reproduce them yet.

[2021-08-05 17:05] epage commented on #3854
@joshtriplett and for any other Rust developers, I've created https://github.com/crate-ci/git-config-env for handling at least part of the problem.

[2021-08-05 21:22] mikasoukhov commented on #5967
My bad, my bad.

I've put the code as a unit test into the same proj as LibGit2Sharp. For some reason, the last one does some global changes that were affected on any other test.

I've removed LibGit2Shart tests and it is working fine now.

Also, I've removed the custom HTTP/HTTPS transport layer and my and original test now works as well. Don't know the reason of that customization but I believe

[2021-08-05 21:22] #5967 closed

[2021-08-05 22:20] ethomson commented on #5967
Excellent, that definitely makes a lot of sense.

Yeah, this one was my fault.  Distributing a `libgit2.so` on Linux that's linked against openssl is very problematic.  I added a managed HTTPS transport in LibGit2Sharp to avoid this.

This introduced a whole different set of problems.  We should have `dlopen`ed OpenSSL instead.  Future improvement.

[2021-08-05 23:31] mikasoukhov commented on #5967
1. NativeBinaries updated to 1.1.1. Some pull requests (can explain what exactly if need) contain a workable solution - don't know why no one wanna merge it.
2. Determines OS at the runtime - https://docs.microsoft.com/en-us/dotnet/api/system.operatingsystem?view=net-5.0
3. .netcodeapp2.1 is useless to support - .netstandard2.0 cover it.

I've seen in your comment some commented line - git_openssl

[2021-08-08 13:02] #5960 closed

[2021-08-08 13:03] #5889 closed

[2021-08-10 14:06] #2957 closed

[2021-08-11 11:40] smuel-adm opened #5981 "Windows - CMake Error: could not resolve ssh2"
### Reproduction steps

[code]

### Expected behavior

Should compile

### Actual behavior

[code]

Build log: [libgit2.build.log](https://github.com/libgit2/libgit2/files/6967970/libgit2.build.log)

### Version of libgit2 (release number or SHA1)

v.1.1.1 also tested with v1.0.0

### Operating system(s) tested
Windows - 10.0.19042 - AMD64
Microsoft Visual Studio 2019

[code]
[CMakeCCompiler.cmake

[2021-08-12 12:31] boretrk opened #5982 "clone doesn't work if path exists locally"
When cloning a repository libgit2 tests the given url against the filesystem to determine if a local clone should be done.
If the url also resolves to a path that exists locally then the clone fails.

### Reproduction steps
[code]

### Expected behavior
[code]

### Actual behavior
[code]

### Version of libgit2 (release number or SHA1)
631ae5a67f17fd12c4c2b2406bec96fe61c473ff

### Operating system

[2021-08-13 20:11] skelter opened #5984 "should ignore BOM in .gitignore"
Manually migrating from https://github.com/libgit2/libgit2sharp/issues/1903

### Reproduction steps
1. Try this with an existing repo. Put a BOM at the header of a .gitignore file, and a directory to ignore such as .vs/ on the same (top, first) line of the .gitignore file.
2. confirm command-line native git still ignores the .vs directory.
3. Write a quick program that uses libgit2sharp to look at

[2021-08-13 20:14] bording commented on #5984
FYI, LibGit2Sharp 0.26.2 references LibGit2Sharp.NativeBinaries 2.0.306, not 2.0.314. The libgit2 hash in 2.0.306 is 106a5f27586504ea371528191f0ea3aac2ad432b.

[2021-08-13 20:16] skelter commented on #5984
bording, you are right.  I was reading the NuGet UI incorrectly.

[2021-08-13 21:37] ethomson commented on #5984
Thanks @skelter for reporting and sorry for the trouble.  Adding some labels in case a new contributors wants to pick this up, we have functions that will skip a bom so it should be relatively straightforward fix!  (Bonus points for auditing `.gitattributes` and `.git/config` to see if git has changed behavior wholesale on all of these sorts of config files, or if it's piecemeal.  Bonus bonus poin

[2021-08-13 21:43] skelter commented on #5984
ethomson, and all, thank you for providing a very useful library and all the effort y'all have put into it.

[2021-08-15 23:15] rohitisinhk commented on #4039
I am using Bitbucket Personal Access Token and can confirm if works A-OK, using Username as <Your_Username> and Password as "<Your Personal Access Token>"

[2021-08-16 15:32] suehshtri commented on #5984
Further discussion in git-scm context at https://github.com/git/git-scm.com/issues/663

[2021-08-17 02:47] olsen232 commented on #5564
#5776 has been closed since it is superceded by #5993 (and follow-ups)

[2021-08-18 22:29] pablonardone commented on #5335
Was there any progress for this issue?

[2021-08-18 22:55] olsen232 commented on #5564
Basic plan -
1. New error code EMISSING for when objects are referenced by the ODB, but missing from the ODB. #5993
2. Detect when packfiles are promisor packfiles - #5996
3. New error code EPROMISED - return it when an EMISSING occurs in a promisor-packfile (not yet done)

[2021-08-18 23:11] olsen232 commented on #5564
@ethomson just looking at recent commits, it seems like you are the best at making things happen in libgit2 - can you comment on if this is a reasonable plan, and maybe even find me a reviewer with the necessary permissions?

[2021-08-19 14:42] punkymaniac commented on #5949
In short, This macro initialise a struct from it's template.

In fact, it simplies memory copy a struct initialiser (define under a `GIT_*_INIT` macro) given as  `TPL` parameter, to a newly created struct (parameter `PTR`) for the given struct type (parameter `TYPE`).
It also verify if the version of the given struct (parameter `VERSION`) is the same as the template (to ensure compatibility I gues

[2021-08-20 13:53] pjw91 opened #5998 "git_checkout_head not work when content changed but mtime not changed"
You are opening a _bug report_ against the libgit2 project: we use
GitHub Issues for tracking bug reports and feature requests.  If you
have a question about an API or usage, please ask on StackOverflow:
http://stackoverflow.com/questions/tagged/libgit2.  If you want to
have high-level discussions about the libgit2 project itself, visit
https://github.com/libgit2/discussions.

Otherwise, to report

[2021-08-20 15:23] A-Ovchinnikov-mx commented on #5751
I think I've managed to fix the issue, could you please take a look? 🙂 #5791

[2021-08-20 16:54] ethomson commented on #5998
That means your workdir is dirty, no?  This doesn't have anything to do with time, checkout simply won't overwrite content on the workdir without you providing the force flag.  This is just like running `git checkout` on the command line.

[2021-08-21 06:18] pjw91 commented on #5998
Yes, the workdir is dirty.

The code in gist indeed set the flag FORCE.
(The issue description was overly simplified. I've fix that.)

[2021-08-21 11:18] ethomson commented on #5998
Ah sorry!  I didn't read the sample just the description.  I'll take a look.

[2021-08-23 16:11] ethomson commented on #5564
👋  Hey @olsen232, sorry for the delay in getting back to you.  This seems reasonable to me.  I need to do a bit more research on partial clones but overall, I think that this seems like the right direction.

[2021-08-23 16:40] ethomson commented on #5998
On macOS, my output is:

[code]

(`2` is dirty, `4` is updated).

Followed by:

[code]

Puzzling.  It sounds like you're running into racy-git behavior - https://git-scm.com/docs/racy-git/en - but that would be very surprising.

What version of git are you running?  Is it the version included in your distro?

How did you build libgit2?  When you run cmake, is `Care about sub-second file mtimes and

[2021-08-24 17:25] ethomson opened #6002 "Fix checkout type semantics"
2.0 gives us some opportunities for breaking changes.

I think that in a perfect world, we would reshuffle things so that `GIT_CHECKOUT_SAFE = 0`, `GIT_CHECKOUT_NONE` and `GIT_CHECKOUT_DRY_RUN` are aliases for another. That way you can dry-run a safe or a force checkout, and there's a good default of `SAFE`. We would probably give it another name like `DEFAULT` and keep `SAFE` an alias for compati

[2021-08-25 00:36] mikezackles opened #6003 "mbedTLS: Certificate directory is not set correctly using GIT_OPT_SET_SSL_CERT_LOCATIONS"
### Reproduction steps
* Build libgit2 with the mbedTLS backend
* Call `git_libgit2_opts(GIT_OPT_SET_SSL_CERT_LOCATIONS, NULL, path_to_directory)`.

### Expected behavior
The mbedTLS backend should be instructed to load certificates in the requested directory.

### Actual behavior
`git_mbedtls__set_cert_location` is never called (See [here](https://github.com/libgit2/libgit2/blob/c8f4b5699ad0e7f57

[2021-08-25 00:47] ethomson commented on #6003
🤔 thanks for the report.  I don't use mbedtls - so a unit test would be exceedingly helpful.  (If you don't want to invest in learning our test framework, I understand.  But a minimal `main` that should succeed but fails would be amazing.)

[2021-08-25 00:58] mikezackles commented on #6003
Thanks for the prompt reply! I'll take a look at the test stuff. Just to clarify, as best I can tell the bug is just that the directory stuff isn't called unless the file stuff errors out:
[code]

[2021-08-25 03:04] pjw91 commented on #5998
I'm using git from Ubuntu 20.04 (arm64), which is 2.25.1, and git from CentOS7 (amd64) 1.8.3.1.

My CMakeCache.txt has "USE_NSEC:BOOL=ON". I guess it's unrelated since the `touch -r` calls `utimensat` and preserves the nanoseconds.

[2021-08-25 16:02] mikezackles commented on #6003
On my system the following reproduces the bug with the main branch:
[code]
Note that the same test succeeds with the branch in my pull request.

I thought about an automated test, but it seems a bit tricky. Here are some approaches I thought of:

* Attempt to clone an online repository over https. Unfortunately the hardcoded CA root directory will make this succeed by default on most systems. But

[2021-08-25 16:55] mikezackles commented on #6003
lol

I misspoke: I think the intent was `if (!error && path)`. In any case, for what it's worth the motivation for the changes in the PR was that in the case that the user provides both a file and a path, both get picked up instead of just one. (But I'm not really sure why someone would want to do that.)

[2021-08-30 01:36] ethomson commented on #5399
💥  Thanks for this!  So excited to see this shipping.

[2021-08-30 01:40] #5389 closed

[2021-08-30 01:40] #5399 closed

[2021-08-30 02:34] #6003 closed

[2021-08-30 14:23] ehuss opened #6019 "config parsing can break on multiline with multiple quotes with multiple lines"
### Reproduction steps

Create a `.gitconfig` with the following content and attempt to load it with libgit2:

[code]

### Expected behavior

libgit2 should be able to parse this into:
`log --pretty='case foo in*) sign=-S ;; *) sign=%h ;; esac '`

### Actual behavior

Fails with `invalid configuration key`

### Version of libgit2 (release number or SHA1)

f4b473fa842a84147d8036a27bac5c026c44dad4

[2021-08-30 18:42] ethomson commented on #5998
It looks like this is due to differences in `ctime` handling between git and libgit2.  If you:

[code]

Does status show that you're dirty?  Does checkout update `f`?  I'm guessing no.

[2021-08-31 03:10] #5851 closed

[2021-09-02 01:57] #4164 closed

[2021-09-02 01:58] ethomson commented on #4164
Thanks for reporting this @cbargren and for the fix @sathieu!

[2021-09-02 05:01] pjw91 commented on #5998
I changed the `git status` of "post" section in demo code to `git -c core.trustctime=0 status`, it says dirty.

I replaced the `git_checkout_head` with `git -c core.trustctime=0 checkout --force HEAD`, then it overwrites the file f (making it become "a").

[2021-09-03 01:55] arroz opened #6028 "Crash in threadstate_dispose (pointer being freed was not allocated)"
In some situations, `threadstate->error_t.message` will be pointing to `git_buf__initbuf`. When the `git__free` function runs, it causes the following crash: `malloc: *** error for object 0xwhatever: pointer being freed was not allocated`

### Reproduction steps

I have a test that reproduces this but cannot commit it, since it needs a HTTPS server with a real repository on it and a self-signed ce

[2021-09-04 07:37] lolgear commented on #5969
Changes are merged in #5974.
Closing issue.

[2021-09-04 07:37] #5969 closed

[2021-09-04 07:39] lolgear opened #6030 "Is it possible to use range of commits in cherry-pick?"
Cherry picking allows to use range of commits.
Does this feature exist in libgit2?

[2021-09-05 13:39] ethomson commented on #6028
Thanks for the report and the fix!

[2021-09-05 13:39] #6028 closed

[2021-09-05 13:40] #6030 closed

[2021-09-06 06:43] arxanas opened #6036 "In-memory merges slow on large repos"
In-memory merges can be slow on a repository like https://github.com/mozilla/gecko-dev, e.g. several seconds to carry out a simple merge for a few changed files. This is around 500x slower than what's possible, comparing against a workaround (see benchmark at https://github.com/arxanas/git-branchless/commit/4c5740779a88059e2fa547bfac2b275cc886e869):

* 1.9s for naive cherry-pick.
* 2.8ms for worka

[2021-09-06 11:36] ethomson commented on #6036
Yes!  This isn't limited to in-memory repositories, either.  Merge always does more work than it needs to.  But it seems more acceptable in the on-disk case because you always need to produce an index.

(With the in-memory case, you can imagine a technique like you described.)

I *think* that the problem is the final index calculation.  I think that we only walk into changed trees, but I could be

[2021-09-06 13:44] rocallahan opened #6038 "High-volume mmap churn over many calls to git_indexer_append"
Cloning, e.g., https://github.com/rust-lang/crates.io-index.git (but probably any repo) does a lot of unnecessary mmap churn.

### Reproduction steps

[code]
This is a reduced testcase; the underlying repo is fetched frequently using libgit2 by Rust's `cargo` tool (which doesn't do a full clone but I tried to keep this testcase simple).

### Actual behavior

78,256  iterations of this kind of thin

[2021-09-06 14:06] rocallahan commented on #6038
The mwindow code looks fairly complicated and I don't know what its requirements are without studying the code a lot more. However, I think the natural way to do all this on 64-bit Linux would be to map the entire file read/write and keep that mapping around, growing it mapping by a constant factor (using mremap()) whenever the file size gets bigger than the mapping. Extend the file as necessary u

[2021-09-06 16:22] neithernut commented on #6038
Possibly related: #4674

[2021-09-06 19:49] arxanas commented on #6036
The longest step is writing the index to disk as a tree. It's done in the straightforward fashion, by iterating over all the entries and building up trees: https://github.com/libgit2/libgit2/blob/f1b89a201e9329e6df48f8d6cf320781570c936a/src/tree.c#L572

Even if most of the subtrees exist on disk, you have to make a huge number of disk accesses just to confirm that every object is stored in the obj

[2021-09-07 13:51] carlosmn commented on #6038
The indexer is called to parse the packfile as it comes in from the network. As such, there is no pre-existing file to mmap. The reason the mmap windows get recreated is because we've appended to the file. I don't recall how much there is on top of that due to compat vs trying to parse the file as quickly as it comes in.

This should be unrelated to #4674 as the reason cloning is slower in the rea

[2021-09-07 13:54] lhchavez commented on #6038
at the very least the one mmap/munmap pair in https://github.com/libgit2/libgit2/blob/f1b89a201e9329e6df48f8d6cf320781570c936a/src/indexer.c#L667 can be easy to remove: we're already relying on a lone `p_pwrite` there, so might as well use it to write the whole thing to save two syscalls (and _a lot_ of userspace CPU). that alone was not sufficient to make it significantly faster, though.

[2021-09-07 14:13] lhchavez commented on #6038
here we see `append_to_pack` only taking ~1.16% of the total execution time (cloning the [git](https://github.com/git/git.git) repository instead since the rust one was _too_ slow):

![Screenshot from 2021-09-07 07-07-58](https://user-images.githubusercontent.com/168028/132359111-17fffa09-5a69-4d7d-9e25-a379663940c1.png)

[source](https://gist.github.com/lhchavez/1bede1a8d73902f73ce4d136c4f0cf9f).

[2021-09-07 14:39] ethomson commented on #6038
Ouch.  Obviously there's a limit to how fast we can clone a big repo, but we're still pretty far away from git.  But how much are we impacting the usability of rust's package management?

[2021-09-07 15:18] extrawurst commented on #6038
I would like to add that this affects more tools relying on libgit2 than *just* rust cargo.

[2021-09-07 15:30] arroz commented on #6038
A comment about this that may be related: one of the things I have on my list it figuring out why fetching is so slow. For example, if I have a big repo with lots of activity like Linux stale for 6 months, and then do the equivalent of a git fetch with libgit2, the time it takes to apply the deltas (not counting the download) is too long to be usable (~2 hours) vs 5 minutes or less in core git.

I

[2021-09-07 15:48] carlosmn commented on #6038
To speed up delta resolution, we need to change how they're recorded in order to allow concurrent access and processing, as we currently do the simplest thing that can work and just keep trying to apply them until it's all done.

That change in recording may also speed up single-threaded operation, depending on how much we end up having to go over the pending list, but that's mostly a lesser advan

[2021-09-07 23:04] rocallahan commented on #6038
They cause [rr](https://rr-project.org) to completely blow up when recording code that does a libgit2 clone (e.g. `cargo` fetching its registry). That's not a problem for you really but it caught my attention. It is certainly possible that the cost of these mmaps is hidden by network costs in practice. I should have mentioned that up front, sorry.

Sure, but to be clear, on Linux at least you don'

[2021-09-08 07:26] punkymaniac commented on #5949
@alexandre1985 Do you still working on it ?

[2021-09-08 07:57] carlosmn commented on #6038
To keep this all more together, I found the issue (which seems to be Windows-only) for why there's so much mmap https://github.com/libgit2/libgit2/issues/2338

[2021-09-08 10:07] alexandre1985 commented on #5949
A 8 de setembro de 2021 08:26:40 WEST, punkymaniac ***@***.***> escreveu:
***@***.*** Do you still working on it ?

I am not
---
Daniel Santos

[2021-09-08 13:41] carlosmn commented on #5914
This sounds like it would be an additional TLS provider you can choose. Meanwhile finding out why it fails and defining whatever they provide to stop it from failing should be the first step.

[2021-09-08 13:52] lhchavez commented on #5556
@boretrk pointed out that this commit _might_ fix this issue: https://github.com/libgit2/libgit2/pull/6039

I successfully tried it locally with NFS 4.2, but can somebody with AWS-EFS / CephFS try this out just in case there's something slightly different in those implementations?

[2021-09-08 18:45] patrickdevivo commented on #5556
I've applied an earlier patch ([see here](https://github.com/askgitdev/libgit2/compare/main...packfile-perm-fix)), it's a bit stale from upstream now but appears to be working for my use on AWS EFS. It's in the backend for https://try.askgit.com/ where every query is executed in a Lambda with an EFS mount.

I can give the patch from @lhchavez a try and report back

[2021-09-08 18:48] ethomson commented on #5556
Whoa, this is neat.

It would be great to be sure that this works before we merge.  😁

[2021-09-08 18:52] duncanthomson opened #6040 "GNUC typeof keyword isn't ISO C friendly"
### Description

I'm trying to build libgit2 using clang using `-std=c99` and/or `-std=c11` and libstdc++. This setup defines the `__GNUC__` preprocessor token.

I'm seeing build errors like the following:
[code]

### Reproduction steps

These can be reproduced/replicated by attempting to compile a single .c file from the command line within the `libgit2` repo directory:
[code]

### Expected behav

[2021-09-08 21:03] patrickdevivo commented on #5556
Tried with the patch, but unfortunately am back to receiving the original error:
![image](https://user-images.githubusercontent.com/57259/132584885-d245c5fe-ae2f-4d6b-b962-8c7545c0ff92.png)

😞

I will also double check on my side to ensure I'm applying the patch correctly

[2021-09-08 21:05] lhchavez commented on #5556
ah! the new patch is PR #6039.

[2021-09-08 21:13] patrickdevivo commented on #5556
Ok! Let me give that a shot and report back, thanks!

[2021-09-08 21:36] patrickdevivo commented on #5556
@lhchavez seems to be working! It at least clones successfully (and the queries I spot-checked seemed to be working without issue).

[2021-09-08 21:37] lhchavez commented on #5556
thank you very much for checking! :D seems like the permanent fix will be here soon :tada:.

[2021-09-08 23:39] patrickdevivo opened #6042 "Add `v1.2.0` to Homebrew registry"
I apologize if this is not the best place to post this, please let me know if so! I would like to request an update to the [libgit2 Homebrew formula](https://formulae.brew.sh/formula/libgit2), as it currently lists `v1.1.1` as the latest stable release.

I'm happy to open a PR as well! Thanks so much

[2021-09-10 11:08] Whirlwind opened #6044 "[Feature] Support `extensions.worktreeconfig` for `repositoryformatversion=1`"
[code]

I have a origin repository with `--filter=blob:none`, and a worktree repository. Then I enable the worktree config in the worktree.

In the libgit2, it could not support the worktree  config with `filter`:

`unsupported extension name extensions.worktreeconfig`

I check the libgit2:
[code]

And I check the version: `repositoryformatversion = 1`, So all extension configs will failed.

[2021-09-11 17:04] ArekPiekarz opened #6049 "`git_repository_is_empty` returns wrong value for `main` branch"
### Description
Below is a program that initializes two repositories, one with a master branch, second with a main branch.
For each it checks if the repository is empty, but gets different results for each branch.

### Reproduction steps
Create a project with following files:

main.cpp:
[code]

CMakeLists.txt:
[code]
Also download libgit2 as the dependency:
[code]
Build and run the project:
[code]

[2021-09-11 21:14] arxanas commented on #6036
It also seems that `diff_tree_to_tree` is slower than it needs to be, compared to the workaround approach. Benchmark at https://github.com/arxanas/git-branchless/commit/16b0c69e060934392b377f33f2f0c1338fc0d699:

* 224ms for naive `diff_tree_to_tree`.
* 1.9ms for workaround `diff_tree_to_tree`.

[2021-09-13 13:46] ethomson commented on #6049
Indeed.  The documentation states:

This documentation is outdated - `HEAD` must be pointing to _the default initial branch_.  When you used `--initial-branch` you created a new repo with a different initial branch than your default (which is controlled by the `init.defaultbranch` configuration setting.)

If you update `init.defaultbranch` to point to `main` does this return `true`?

[2021-09-13 15:18] ethomson commented on #5670
The ABI isn't stable.  This is an effort that we'll tackle in 2.0.  If we do that, we'll stabilize the soname.

[2021-09-13 18:33] ArekPiekarz commented on #6049
Thanks, it partially solves my problem. I say partially, because I still have to account for cases where someone created his repository using only `git init --initial-branch main` and did not set the default branch. Because of that `git_repository_is_empty` is not as useful on its own to me as it could be. If that function returns 0, I still have to call `git_repository_head` and check what it poi

[2021-09-13 18:41] ethomson commented on #6049
That makes sense.  I think that changing `is_empty` to remove the default branch check is probably a breaking change, but I think that adding a similar API would be a reasonable change to support you.  🤔

[2021-09-14 10:22] lrm29 opened #6054 "git_index_add_bypath fails with "path too long" when longpaths is true and filters are set"
### Reproduction steps

Add a test similar to test_win32_longpath__status_and_add but set "core.autocrlf" to true:

[code]

### Expected behavior

git_index_add_bypath passes.

### Actual behavior

git_index_add_bypath fails. The reason is this function is called with a null git_repository:

bool should_validate_longpaths(git_repository *repo);

The function git_blob__create_from_paths calls write

[2021-09-14 11:43] #6019 closed

[2021-09-14 11:46] #5556 closed

[2021-09-15 11:50] duncanthomson commented on #6040
Thank you for considering this issue and accepting/merging a fix. I'm closing this as "done".

[2021-09-15 11:50] #6040 closed

[2021-09-15 13:34] jeroen opened #6057 "enum out of range in libgit2 1.2.0"
The R bindings require strict ISO C. Compiling the R bindings with `-pedantic` now gives:

[code]

It seems like the bug https://github.com/libgit2/libgit2/issues/4657 has been re-introduced in https://github.com/libgit2/libgit2/pull/5853.

[2021-09-16 11:00] lrm29 opened #6059 "Allow proxy options when connecting with a detached remote."
### Reproduction steps

Create a detached remote (so remote->repo is null) using git_remote_create_detached.
Calling git_remote_connect then fails, but only when git_proxy_options are passed in. This is because git_remote__http_proxy expects the remote to have a repo attached.

### Expected

### Actual behavior

### Version of libgit2 (release number or SHA1)

v1.2.0

### Operating system(s) teste

[2021-09-20 12:39] #6059 closed

[2021-09-20 13:07] #6054 closed

[2021-09-20 20:30] ArekPiekarz opened #6065 "`git_commit_summary` creates too long output for some commits"
### Description
`git_commit_summary` produces too long paragraphs for some commits, like for this one in the Linux repository - https://github.com/torvalds/linux/commit/3218357c94af92478ef39163163a81e654385320. It creates 925 characters long text (almost the whole commit message) instead of 46 characters long (just the first line).

### Reproduction steps
Create a project with following files:

ma

[2021-09-22 00:19] ethomson commented on #6057
😭  Thanks for letting us know.  We need to catch these in CI...  but `-pedantic` (at least on clang) is insane.  `-Wno-c99-extensions` helps, but if you had some guidance as to how you compile, that would be helpful.

[2021-09-22 03:09] ethomson commented on #6065
Indeed.  The commit message in https://github.com/torvalds/linux/commit/3218357c94af92478ef39163163a81e654385320 is `message<nl><sp><sp><sp><sp><nl>...`  We should treat two newlines as a paragraph separator even when those two newlines have whitespace in between.

[2021-09-22 12:48] #6057 closed

[2021-09-22 14:45] ethomson commented on #6042
Hi @patrickdevivo!  I'm afraid that none of the libgit2 core team is involved in Homebrew.  I would encourage you to open a PR against that formula!

[2021-09-22 14:45] ethomson commented on #6042
(Note that v1.3.0 is coming 🔜 - https://github.com/libgit2/libgit2/pull/6069)

[2021-09-23 14:30] A-Ovchinnikov-mx opened #6070 ""path too long" when cloning a repo"
### Reproduction steps

`git_clone` a repo. The repo has a path that, combined with a local checkout path, would be close enough to MAX_PATH.

See repo https://github.com/A-Ovchinnikov-mx/libgit2_bug_test for an example.

### Expected behavior

The repo is cloned successfully.

### Actual behavior

[code]

### Version of libgit2 (release number or SHA1)

v1.2.0 and 136901086ecfdd2b5cc106782310355a

[2021-09-23 14:30] A-Ovchinnikov-mx commented on #6070
@ethomson Could you please postpone v1.3.0 release until this is fixed?

[2021-09-23 14:40] A-Ovchinnikov-mx commented on #6070
The issue is in `git_buf_joinpath` where:

[code]

[2021-09-23 14:45] A-Ovchinnikov-mx commented on #6070
@ethomson I think the deletion of `git_path_join_n` caused this: https://github.com/libgit2/libgit2/commit/97769280ba9938ae27f6e06cbd0d5e8a768a86b9#diff-d534511b316cb989d76fcf2dee0545e386f9b316bc911519ca9bc01fc923ca6aL191

Now it's a simple `git_buf_join` that doesn't do much path calculation.

[2021-09-23 14:46] A-Ovchinnikov-mx commented on #6070
/cc @arrbee as the author of the change

[2021-09-23 17:04] ethomson commented on #6070
This is because `collect_attr_files` prefixes the workdir path to an already absolute path.  This went unnoticed until now because we didn't enforce path lengths ourselves, we passed it on to Windows and just let it return a not found error.

[2021-09-23 17:49] ethomson commented on #6070
There's two things that we need to do here:

1. Prefixing the workdir to an already-absolute path is obviously wrong.  We'll need to fix this.  Unfortunately, I have no idea how prevalent this is.
2. We might want to consider changing longpath validation so that there's a fail mode or not.  It might make sense for longpath validation to act as if a file were not found when reading but actually fai

[2021-09-23 21:47] patrickdevivo commented on #6042
Understood @ethomson and thanks for the heads up! `v1.2.0` appears to have been merged into Homebrew core: https://github.com/Homebrew/homebrew-core/pull/84518 as of now anyways. Will close this out 😃

[2021-09-23 21:47] #6042 closed

[2021-09-24 15:17] A-Ovchinnikov-mx commented on #6070
@ethomson I'm not sure what do you mean tbh but v1.1.1 doesn't try to do that so it works correctly 🙂

Will you be able to fix that before v1.3.0 release?

[2021-09-24 15:42] A-Ovchinnikov-mx commented on #6070
This seems to fix it; not sure if this is a good fix or not:

[code]

[2021-09-24 16:14] ethomson commented on #6070
That's because we added `core.longpaths` in v1.2.0.  We had the same bug where we were looking in the wrong path, we just didn't notice it because we weren't doing the long paths validation ourselves.

Maybe so!  I would like to do a little more research.  I'm not sure why we're passing a relative path sometimes and not others.  I might like to split the API into two very clear ones so that this i

[2021-09-24 21:03] ethomson commented on #6070
@A-Ovchinnikov-mx can you see if #6073 solves your problem?

[2021-09-25 18:57] dschepler opened #6074 "http-parser library is unmaintained"
The GitHub page for the http-parser library indicates that it is now unmaintained, and suggests llhttp as a replacement to migrate to.  I don't know how much of an impact that would have on libgit2 moving forward; but I thought it might be a good idea for there to be an issue to mark the fact and any thoughts of libgit2 maintainers on implications.

[2021-09-25 22:16] ethomson commented on #6070
Also #6075

I did a pass on the places where we validate workdir paths for length.  I don't immediately see any places where we should be treating it as `ENOTFOUND` instead of just `-1`, but I suspect that there are some.  For example, you can imagine that we construct a path to a `.gitignore` that is slightly longer than the max path length, but it is in a folder that has files like `a`, `b`, `c`

[2021-09-27 11:05] A-Ovchinnikov-mx commented on #6070
This seems to resolve the issue indeed, at least I can now clone the test repo.

[2021-09-27 11:08] A-Ovchinnikov-mx commented on #6070
This one alone doesn't solve the issue but I don't expect it to looking at the changes 🙂

[2021-09-27 16:57] ethomson commented on #4679
I don't see a path toward a reproduction here, nor have we seen other reports of this.  Going to close it, feel free to provide more information if you are seeing this occur.

[2021-09-27 16:57] #4679 closed

[2021-09-27 16:59] ethomson commented on #5411
Can't reproduce.  If you can provide clearer reproduction steps then that would be helpful.

[2021-09-27 16:59] #5411 closed

[2021-09-27 17:02] ethomson commented on #6074
Hi @dschepler - there was some discussion of this over in https://github.com/libgit2/libgit2/discussions/5828.  I'm happy to move to llhttp, but we'd need to port that change in https://github.com/nodejs/http-parser/pull/483 over if it's not there.  This hasn't been a high priority for me, but I'd welcome a PR that moves us over to llhttp if it was something that you were interested in.

[2021-09-27 17:17] kloczek commented on #5411
So please reopen to allow us still work on that.
Will drop you ASP short sctip ..

[2021-09-27 18:09] kloczek commented on #5411
Strange. After retesting I cannot reproduce that issue now :/

Nevertheless looks like LTO exposes some new warnings
[code]
Here it is script with extracsted some patrts from sh script generated by rpmbuild
[code]

[2021-09-27 21:12] ethomson commented on #6070
Fixed via #6073

[2021-09-27 21:12] #6070 closed

[2021-09-27 21:21] ethomson commented on #5895
I can't reproduce this.  Are you still seeing this problem?

[2021-09-28 22:27] ethomson commented on #5411
thanks @kloczek - i am seeing some different behavior but i _am_ seeing warnings now at link time.  what version of red hat are you using?  (i don't have rhel but i'm assuming that i can use centos to get a similar behavior?)

[2021-09-28 22:39] kloczek commented on #5411
I'm using my onw distribution (which is not yet ready to public presentation).
You should be able to reproduce those warnings on top of Fedora rawhide as I'm using as well gcc 11.2.1.

[2021-09-30 07:59] Ellitvin115 opened #6079 "Hi - first, you want to [`git_stash_save`](https://github.com/libgit2/libgit2/blob/master/include/git2/stash.h#L66). What you've described isn't a stash and won't be compatible with other Git implementations."
Hi - first, you want to [`git_stash_save`](https://github.com/libgit2/libgit2/blob/master/include/git2/stash.h#L66).  What you've described isn't a stash and won't be compatible with other Git implementations.

We reserve the issue tracker for _bug reports_ and _feature requests_.  If you have questions about using this API, or other APIs within libgit2, please [ask on StackOverflow](https://stack

[2021-09-30 08:00] Ellitvin115 commented on #6079
@Ellitvin115

[2021-09-30 11:40] #6079 closed

[2021-10-02 21:40] punkymaniac opened #6085 "`git_merge_file` return unexpected char on `result.ptr` with small input file content."
`git_merge_file` return unexpected random char on `result.ptr` with small file content.
When the input `theirs.ptr` is lower than 6 chars, some random character appear at the end on the result `ptr` content.

### Short investigation
The issue came from the internal function `xdl_merge`.
So here, the call to `xdl_malloc` return an memory block who is not set to zero.
This is not a big problem, but

[2021-10-02 22:53] ethomson commented on #6085
Do we guarantee that we NUL terminate `git_merge_file_result`?  I would have thought not.  This file could certainly be binary.  That's why we give you the length.

[2021-10-03 00:21] ethomson commented on #6085
In other words:

[code]

should give you the expected behavior.

[2021-10-03 20:28] punkymaniac commented on #6085
Okay, so this is a normal behaviour.
Sorry about that.

[2021-10-03 20:28] #6085 closed

[2021-10-03 23:04] ChronicallySerious opened #6087 "Crash in `git_remote_push()`"
I am updating the VCS integration code done in the godot/godot-git-plugin (https://github.com/godotengine/godot-git-plugin/pull/84). I have created a `_push()` routine to do git pushes.

The `repo` variable is already initialized in this context. However, this function seems to succeed whenever there are new commits to push to the branch and it crashes when there are no other commits to push (i.e.

[2021-10-03 23:12] ethomson commented on #6087
Is this a regression?  Has this ever worked and now fails in your upgrade to 1.3 or is this net new functionality?

[2021-10-03 23:15] ChronicallySerious commented on #6087
It might be a regression because it didn't appear before upgrading to v1.3. However, there have been some considerable code changes on our end since the upgrade so I can downgrade again to test a bit more and get back.

[2021-10-04 00:31] ethomson commented on #6087
Apologies, not very familiar with godot.  How do you do your FFI?  Between v1.1 and v1.3 we made some ABI breaking changes.  If you're not just talking to the C API or automatically generating your bindings then we may have broken you.  For example https://github.com/libgit2/libgit2/compare/v1.1.1...v1.2.0#diff-09d6e347090c92179ac7cb177bb3e4a2cb5b10c477187ddb80ed950c64dbc278R618

(ABI compatibilit

[2021-10-04 06:15] ChronicallySerious commented on #6087
We are not doing any FFI. we are directly using the C API in C++ code, and rebuilding the libgit2 binary everytime from source

[2021-10-04 11:45] ethomson commented on #6087
Oh, sorry! I had it in my head that godot was written in C#.  Alas, I was hoping for an easy fix here.

[2021-10-04 13:02] ChronicallySerious commented on #6087
@ethomson Ah sorry, I didn't clear that earlier. I am working on a plugin, written in C++ for the Godot Editor, which is also written in C++. There is no language interop in question apart from the C-C++ one.

[2021-10-04 13:11] ChronicallySerious commented on #6087
Downgrading to v1.0 doesn't help resolve this issue

[2021-10-06 14:07] Uncommon opened #6088 "Multiline config values not preserved"
When a multiline config value is written back out, only the first line is written, including the backslash.

Originally reported in Uncommon/Xit#461

### Reproduction steps

Parse a config file with this in it:
[code]
..and write it back out again.

### Expected behavior

The value should be written just as it was.

### Actual behavior

Only the first line of the value is written:
[code]

### Vers

[2021-10-06 23:36] ehuss opened #6089 "config parsing confused by continuations that start with quotes"
### Reproduction steps

Create a `.gitconfig` with the following content and attempt to load it with libgit2:

[code]

Note that the indentation here is important, the quotes must start at the beginning of the line.

### Expected behavior

The value should parse to `cmd ;; ;; bar`

### Actual behavior

Fails with `invalid configuration key`

### Version of libgit2 (release number or SHA1)

1.3.0 (

[2021-10-07 05:21] ChronicallySerious commented on #6087
This turned out to be a division by 0 error in one of the remote callbacks. This makes sense because this issue only came up when the remote branch exactly matched the history of the local branch, a.k.a. the total data to transfer would be 0, and dividing the data transferred so far by the total data to transfer to get the % data transferred will result in a division by 0 error.

Sorry for the mis

[2021-10-07 05:21] #6087 closed

[2021-10-13 12:50] milke opened #6091 "Diff fails to recognise renamed files in some particular cases"
I've stumbled upon this problem while working with a particular repository, with specific file/directory name and hierarchy. I managed to reduce it and leave only files necessary to reproduce the problem, so you should have easy time reproducing it as well. It isn't necessarily a bug in libgit2, but I've tried some various diff options and I always get wrong results, so perhaps you can help me wit

[2021-10-13 15:28] ethomson commented on #6091
No worries, I'm glad there's a simple resolution.  It looks like `git`'s rename limit is actually 1000, so we should probably snap to that.

[2021-10-15 20:30] #6091 closed, assigned to nobody

[2021-10-24 01:31] yoichi opened #6096 "revwalk not usable in shallow repository"
The first call of git_revwalk_next() invokes prepare_walk() and it will fail with GIT_ENOTFOUND at the parent commit which is not fetched yet.

When I change "return error" at https://github.com/libgit2/libgit2/blob/9b04a3076d419279ac43f165be89a9893f9f0670/src/revwalk.c#L414 to "cotinue", I get  the expected behavior. But I found a comment at similar code at L391-L393 says it is intentional:

[cod

[2021-10-24 14:15] #6096 closed, assigned to nobody

[2021-10-25 12:22] mad8vad opened #6097 "mwindow.c couldn't find LRU"
I'm building 32-bit application on OS with limited memory allocation. It fails on mmap when exceding DEFAULT_MAPPED_LIMIT
I added printf("couldn't find LRU\n") at mwindow.c:278 and it appears on cloning my internal 300 Mb repo before fail

### Reproduction steps

Manual change mwindow.c for 32-bit behavior on 64-bit or use Ubuntu 32-bit. App not crashes, just print errors

[code]

Add printf along

[2021-10-27 13:20] mkhl opened #6099 "pushInsteadOf is ignored without pushurl"
### Reproduction steps
1. clone a repo via https, say `https://github.com/user/repo`
2. configure `pushInsteadOf`, say
[code]
3. using libgit2, lookup the remote using `git_remote_lookup`
4. check the push url using `git_remote_pushurl`
5. push using `git_remote_push`

### Expected behavior
* the pushurl is `git@github.com:user/repo`
* the push succeeds without additional credentials

### Actual b

[2021-11-01 15:00] PyllrNL commented on #6065
The behaviour of the fix does change whether we want to reserve the whitespace characters before the first newline.
Should the first three whitespace characters be preserved in this message: `mesage<sp><sp><sp><nl><sp><sp><sp><nl>....` ?

[2021-11-02 19:32] ArekPiekarz commented on #6065
The documentation of `git_commit_summary` says:

So I believe the whitespace at the end should be removed.

[2021-11-06 10:39] PyllrNL commented on #6065
Yeah sorry, I posted the question bu re-read the code itself and saw the the behaviour of squashing whitespace at the end was already implemented, so I removed my comment.

[2021-11-11 04:37] brew0722 opened #6110 "Missing read the port number from ssh url"
You are opening a _bug report_ against the libgit2 project: we use
GitHub Issues for tracking bug reports and feature requests.  If you
have a question about an API or usage, please ask on StackOverflow:
http://stackoverflow.com/questions/tagged/libgit2.  If you want to
have high-level discussions about the libgit2 project itself, visit
https://github.com/libgit2/discussions.

Otherwise, to report

[2021-11-22 12:12] mattyclarkson commented on #3041
What is the current thinking here?

I assume we would add something to `git_revwalk` to understand a `pathspec` or even a direct single filepath?

[code]

This would then allow the walker to do efficient detection of whether a commit is relevant because it affected the file, as mentioned [here](https://github.com/libgit2/libgit2/issues/3507#issuecomment-156713599). Need some of the [`TREESAME` mag

[2021-11-22 19:34] craigds opened #6123 "git_revparse_ext: Handle `@` by itself"
`git help rev-parse` says:

related: #5689

### Reproduction steps

Call `git_revparse_ext('@')`

### Expected behavior

It should return the same result as `git_revparse_ext('HEAD')`

### Actual behavior

I actually did it via pygit2:

[code]
### Version of libgit2 (release number or SHA1)

1.3.0

### Operating system(s) tested

macOS 11.6

[2021-11-23 20:59] petersalomonsen commented on #1901
is this related? `git status` and libgit2 does not seem to agree on status after applying a stash from a modified file in another branch.

![image](https://user-images.githubusercontent.com/9760441/143118544-bb00c7ec-45b3-424c-b1ae-6fb0a702b1b7.png)

here are my steps to reproduce with regular git:

[code]

see also https://github.com/petersalomonsen/wasm-git/pull/36/files#diff-c5a485586533a98b409

[2021-11-26 11:08] stforek commented on #5984
This looks to be resolved in this comtmit: https://github.com/libgit2/libgit2/commit/133bcebad9af73395f1c1e09f85e7e980bd20744
At least I can't reproduce.

[2021-11-29 07:56] albfan opened #6126 "Respect textconv for binary diff"
### Reproduction steps

- Install xls2csv  (turn xls files into csv text files)
- Unzip attached example repo [libgit2-diff-attributes.zip](https://github.com/libgit2/libgit2/files/7616420/libgit2-diff-attributes.zip) which is configured to compare binary xls files as text (using xls2scv) and contains a xls file with a modification.
-
[code]

With this config, git correctly compares xls changes as

[2021-11-29 15:59] ethomson commented on #6126
libgit2 doesn't run external programs; you can imagine that this would be a significant attack vector for hosting platforms if we did.

If this is something that is safe for your application to do, then you'll need to handle `textconv` yourself.  I'd like to make this easier for consumers, so if there is an API that will help you then I'd be happy to give that some more thought.

[2021-11-29 17:36] Pomax commented on #5844
small note: `refs/heads/master` is not the default branch if you let github precreate your repo, or you work for an org that has inclusive naming policies in place, In the first case, the default branch will be `main`, in the second, it's _probably_ also `main` but might be something else altogether.

[2021-11-29 18:41] albfan commented on #6126
Sure , just double checking before implementing on gitg.
libgit2 already have patch API to generate diff so all plumbing are there (attr, config, patch)

[2021-11-29 18:41] #6126 closed

[2021-11-29 23:44] extrawurst opened #6127 "git_rebase_open never reports that interactive rebase is not supported"
So it took me a while to realise that libgit2 does not support picking up an ongoing interactive rebase.
There is a line in the code that I eventually found but the error I kept getting was very cryptic because it kept complaining not to be able to find `.git/rebase-merge/cmt.1`.
Turns out in `git_rebase_open` we use `rebase_state_type` wich only seems to check for folders `rebase-apply` vs `rebas

[2021-11-30 04:26] cjolowicz commented on #5844
The expected branch is master because, as of this writing, that's the default branch of https://github.com/libgit2/pygit2, which I used in my example.

[2021-12-01 15:28] suehshtri commented on #5984
@stforek , I can be available to help with repro.